| Data name| In master function |  All years dataframe
| -------- | -------- |  -------- | 
|Schüler/-innen je Lehrkraft | teachers_yyyy| teachers_concat
|Anzahl an Lehrkräften | students_per_teacher_yyyy| students_per_teacher_concat
|Anzahl an Schülern | students_yyyy| students_concat
|Unterichtsstd. Je Schüler	| hours_per_student_yyyy|hours_per_student_concat
|Ausgaben 	| ausgaben_yyyy|ausgaben_concat

In [1]:
from test_ausgaben import ausgaben_concat, ausgaben_2010, ausgaben_2011, ausgaben_2012, ausgaben_2013, ausgaben_2014, ausgaben_2015, ausgaben_2016

/Users/kamilkarim/neuefische/capstone_project_hh_23_1/test_ausgaben.py:71: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  ausgaben.iloc[:, 1:15] = ausgaben.iloc[:, 1:15].astype('Int64')
/Users/kamilkarim/neuefische/capstone_project_hh_23_1/test_ausgaben.py:71: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  ausgaben.iloc[:, 1:15] = ausgaben.iloc[:, 1:15].astype('Int64')
/Users/kamilkarim/neuefische/capstone_project_hh_23_1/test_ausgaben.py:71: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  ausgaben.iloc[:, 1:15] = ausgaben.iloc[:, 1:15].astype('Int64')
/Users/kamilkarim/neuefische/capstone_project_hh_23_1/test_ausgaben.py:71: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  ausgaben.iloc[:, 1:15] = ausgaben.iloc[:, 1:15].astype('Int64')
/Users/kamilkarim/neuefische/capstone_project_hh_23_1/test_ausgaben.py:71: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  ausgaben.iloc[:, 1:15] = ausgaben.iloc[:, 1:15].astype('Int64')
/Users/kamilkarim/neuefische/capstone_project_hh_23_1/test_ausgaben.py:71: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  ausgaben.iloc[:, 1:15] = ausgaben.iloc[:, 1:15].astype('Int64')
/Users/kamilkarim/neuefische/capstone_project_hh_23_1/test_ausgaben.py:71: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  ausgaben.iloc[:, 1:15] = ausgaben.iloc[:, 1:15].astype('Int64')
/Users/kamilkarim/neuefische/capstone_project_hh_23_1/test_ausgaben.py:71: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  ausgaben.iloc[:, 1:15] = ausgaben.iloc[:, 1:15].astype('Int64')
/Users/kamilkarim/neuefische/capstone_project_hh_23_1/test_ausgaben.py:71: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  ausgaben.iloc[:, 1:15] = ausgaben.iloc[:, 1:15].astype('Int64')

In [2]:
ausgaben_concat

,Federal States,Allg bildende Schulen,Berufliche Schulen Insgesamt,darunter: im Dualen System,Alle Schularten,Grund schulen,Hauptschulen,Schulen mit mehreren Bildungsgängen,Realschulen,Gymnasien,Integrierte Gesamt schulen,Personalausgaben,Laufender Sach-aufwand,Investi-tionsaus-gaben,Gesamtausgaben,darunter: von staatlicher Ebene,year
0,Baden-Württemberg,6300,4700,2600,5900,5100,6500,0,5300,6700,0,4600,700,600,5900,4300,2010-01-01
1,Bayern,6900,3800,2700,6200,5700,8000,0,6300,7500,0,4500,700,900,6200,4000,2010-01-01
2,Berlin,7600,4400,2800,6900,6000,0,0,7400,7400,8600,5600,1000,300,6900,6900,2010-01-01
3,Brandenburg,6700,3600,3000,6000,4800,0,8200,0,6800,8000,4700,700,700,6000,4400,2010-01-01
4,Bremen,7000,3600,2400,6000,5900,0,6900,0,6400,7200,4500,1200,300,6000,6000,2010-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11,Saarland,8600,5300,3600,7700,7200,0,0,0,9100,8400,6300,1000,400,7700,6200,2019-01-01
12,Sachsen,8500,5900,4000,8100,6700,0,8700,0,9100,0,6200,900,900,8100,6000,2019-01-01
13,Sachsen-Anhalt,8200,4900,3200,7600,6200,0,9000,0,8500,8100,6400,800,400,7600,6200,2019-01-01
14,Schleswig-Holstein,8200,5500,4200,7500,6600,0,0,0,8200,9000,6100,1000,400,7500,5700,2019-01-01
15,Thüringen,9200,7200,4500,8900,7100,0,10000,0,10100,9900,7400,900,500,8900,7100,2019-01-01