| Data name| In master function |  All years dataframe
| -------- | -------- |  -------- | 
|Schüler/-innen je Lehrkraft | teachers_yyyy| teachers_concat
|Anzahl an Lehrkräften | students_per_teacher_yyyy| students_per_teacher_concat
|Anzahl an Schülern | students_yyyy| students_concat
|Unterichtsstd. Je Schüler	| hours_per_student_yyyy|hours_per_student_concat
|Ausgaben 	| ausgaben_yyyy|ausgaben_concat

In [55]:
import pandas as pd
pd.set_option('display.max_rows', None)

#input custom functions
import add_year

In [56]:
def load_teachers_data(Year):
    # Construct the file path
    file_path = f'/Users/naoufalznati/Documents/capstone_project_hh_23_1/testing_data/SKL_Teil_Z_Zusammenfassung_{Year}.xlsx'
    
    #Extract number of students from  the excel file
    df = pd.read_excel(file_path, sheet_name='Z3.2', header=4) #, skipfooter =)

    # Make a copy
    teachers = df.copy()

    # Rename columns
    teachers = teachers.rename(columns={'D': 'Deutschland', teachers.columns[1]: 'SchoolType'})

    # Filter by school types
    school_types = ['Allgemein bildende Schulen', 'Sekundarbereich I', 'Sekundarbereich II', 
                    'Allgemeinbildende Schulen', 'Sekundarstufe I', 'Sekundarstufe II']
    teachers = teachers[teachers['SchoolType'].isin(school_types)]

    # drop unneeded columns
    teachers.drop(columns=['Unnamed: 0', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], inplace=True)

    # Add the 'year' column
    teachers = add_year.add_year(teachers, 'Year', Year)

    # Rename the columns 
    teachers.rename(columns={'TH': 'Thüringen', 'BW': 'Baden-Wüttemberg', 'BY': 'Bayern', 'BE': 'Berlin',
                      'BB': 'Brandenburg', 'HB': 'Bremen', 'HH': 'Hamburg', 'HE': 'Hessen', 'MV': 'Mecklenburg-Vorpommern',
                      'NI': 'Niedersachsen', 'NW': 'Nordrhein-Westfalen', 'RP': 'Rheinland-Pfalz',
                      'SL': 'Saarland', 'SN': 'Sachsen', 'ST': 'Sachsen-Anhalt', 'SH': 'Schleswig-Holstein'}, inplace=True)
    return teachers

In [57]:
def load_students_data(Year):
    # Construct the file path
    file_path = f'/Users/naoufalznati/Documents/capstone_project_hh_23_1/testing_data/SKL_Teil_Z_Zusammenfassung_{Year}.xlsx'

    #Extract number of students from  the excel file
    df1 = pd.read_excel(file_path, sheet_name='Z1.2', header=4) #, skipfooter =)

    # Make a copy
    students = df1.copy()

    # Rename columns
    students = students.rename(columns={'D': 'Deutschland', students.columns[1]: 'SchoolType'})

    # Filter by school types
    school_types = ['Allgemein bildende Schulen', 'Sekundarbereich I', 'Sekundarbereich II', 
                    'Allgemeinbildende Schulen', 'Sekundarstufe I', 'Sekundarstufe II']
    students = students[students['SchoolType'].isin(school_types)]

    # drop unneeded columns
    students.drop(columns=['Unnamed: 0', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], inplace=True)

    # Add the 'year' column
    students = add_year.add_year(students, 'Year', Year)

    # Rename the columns 
    students.rename(columns={'TH': 'Thüringen', 'BW': 'Baden-Wüttemberg', 'BY': 'Bayern', 'BE': 'Berlin',
                      'BB': 'Brandenburg', 'HB': 'Bremen', 'HH': 'Hamburg', 'HE': 'Hessen', 'MV': 'Mecklenburg-Vorpommern',
                      'NI': 'Niedersachsen', 'NW': 'Nordrhein-Westfalen', 'RP': 'Rheinland-Pfalz',
                      'SL': 'Saarland', 'SN': 'Sachsen', 'ST': 'Sachsen-Anhalt', 'SH': 'Schleswig-Holstein'}, inplace=True)

    return students

In [58]:
def load_students_per_teacher_data(Year):
    # Construct the file path
    file_path = f'/Users/naoufalznati/Documents/capstone_project_hh_23_1/testing_data/SKL_Teil_Z_Zusammenfassung_{Year}.xlsx'
    
    #Extract number of students from  the excel file
    df2 = pd.read_excel(file_path, sheet_name='Z6.2 ', header=4) #, skipfooter =)

    # Make a copy
    students_per_teacher = df2.copy()

    # Rename columns
    students_per_teacher = students_per_teacher.rename(columns={'D': 'Deutschland', students_per_teacher.columns[1]: 'SchoolType'})

    # Filter by school types
    school_types = ['Allgemein bildende Schulen', 'Sekundarbereich I', 'Sekundarbereich II', 
                    'Allgemeinbildende Schulen', 'Sekundarstufe I', 'Sekundarstufe II']
    students_per_teacher = students_per_teacher[students_per_teacher['SchoolType'].isin(school_types)]

    # drop unneeded columns
    students_per_teacher.drop(columns=['Unnamed: 0', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], inplace=True)

    # Add the 'year' column
    students_per_teacher = add_year.add_year(students_per_teacher, 'Year', Year)

    students_per_teacher.rename(columns={'TH': 'Thüringen', 'BW': 'Baden-Wüttemberg', 'BY': 'Bayern', 'BE': 'Berlin',
                      'BB': 'Brandenburg', 'HB': 'Bremen', 'HH': 'Hamburg', 'HE': 'Hessen', 'MV': 'Mecklenburg-Vorpommern',
                      'NI': 'Niedersachsen', 'NW': 'Nordrhein-Westfalen', 'RP': 'Rheinland-Pfalz',
                      'SL': 'Saarland', 'SN': 'Sachsen', 'ST': 'Sachsen-Anhalt', 'SH': 'Schleswig-Holstein'}, inplace=True)
    return students_per_teacher

In [59]:
def load_hours_per_student_data(Year):
    # Construct the file path
    file_path = f'/Users/naoufalznati/Documents/capstone_project_hh_23_1/testing_data/SKL_Teil_Z_Zusammenfassung_{Year}.xlsx'

    #Extract number of students from  the excel file
    df3 = pd.read_excel(file_path, sheet_name='Z7.2', header=4) #, skipfooter =)

    # Make a copy
    hours_per_student = df3.copy()

    # Rename columns
    hours_per_student = hours_per_student.rename(columns={'D': 'Deutschland', hours_per_student.columns[1]: 'SchoolType'})

    # Filter by school types
    school_types = ['Allgemein bildende Schulen', 'Sekundarbereich I', 'Sekundarbereich II', 
                    'Allgemeinbildende Schulen', 'Sekundarstufe I', 'Sekundarstufe II', 'Förderschulen']
    hours_per_student = hours_per_student[hours_per_student['SchoolType'].isin(school_types)]

    # drop unneeded columns
    hours_per_student.drop(columns=['Unnamed: 0', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], inplace=True)

    # Add the 'year' column
    hours_per_student = add_year.add_year(hours_per_student, 'Year', Year)

    hours_per_student.rename(columns={'TH': 'Thüringen', 'BW': 'Baden-Wüttemberg', 'BY': 'Bayern', 'BE': 'Berlin',
                      'BB': 'Brandenburg', 'HB': 'Bremen', 'HH': 'Hamburg', 'HE': 'Hessen', 'MV': 'Mecklenburg-Vorpommern',
                      'NI': 'Niedersachsen', 'NW': 'Nordrhein-Westfalen', 'RP': 'Rheinland-Pfalz',
                      'SL': 'Saarland', 'SN': 'Sachsen', 'ST': 'Sachsen-Anhalt', 'SH': 'Schleswig-Holstein'}, inplace=True)
    return hours_per_student

In [60]:
def load_ausgaben_data(year):
    # Construct the file path
    file_path = f'/Users/naoufalznati/Documents/capstone_project_hh_23_1/testing_data/Bildungsausgaben/Ausgaben_{year}.xlsx'
    
    #Extract number of students from  the excel file
    df = pd.read_excel(file_path, sheet_name=f'{year}_1')
    ausgaben_1 = df

    df2 = pd.read_excel(file_path, sheet_name=f'{year}_2')
    ausgaben_2 = df2

    df3 = pd.read_excel(file_path, sheet_name=f'{year}_3')
    ausgaben_3 = df3

    ausgaben_1 = ausgaben_1.rename(columns={ausgaben_1.columns[0]: 'Federal States'})
    ausgaben_2 = ausgaben_2.rename(columns={ausgaben_2.columns[0]: 'Federal States'})
    ausgaben_3 = ausgaben_3.rename(columns={ausgaben_3.columns[0]: 'Federal States'})

    # Add the 'year' column
    ausgaben_3 = add_year.add_year(ausgaben_3, 'year', year)

    # Filter by federal states
    federal_state = ['Baden-Württemberg', 'Bayern', 'Berlin', 'Brandenburg', 'Bremen', 'Hamburg', 'Hessen',
                'Mecklenburg-Vorpommern', 'Niedersachsen', 'Nordrhein-Westfalen', 'Rheinland-Pfalz',
                 'Saarland', 'Sachsen', 'Sachsen-Anhalt', 'Schleswig-Holstein', 'Thüringen']
    
    ausgaben_1 = ausgaben_1[ausgaben_1['Federal States'].isin(federal_state)]
    ausgaben_2 = ausgaben_2[ausgaben_2['Federal States'].isin(federal_state)]
    ausgaben_3 = ausgaben_3[ausgaben_3['Federal States'].isin(federal_state)]

    ausgaben_1 = ausgaben_1.rename(columns={ausgaben_1.columns[1]: 'Allg bildende Schulen',
                                               ausgaben_1.columns[2]: 'Berufliche Schulen Insgesamt',
                                               ausgaben_1.columns[3]: 'darunter: im Dualen System',
                                               ausgaben_1.columns[4]: 'Alle Schularten'})

    ausgaben_2 = ausgaben_2.rename(columns={ausgaben_2.columns[1]: 'Grund schulen',
                                               ausgaben_2.columns[2]: 'Hauptschulen',
                                               ausgaben_2.columns[3]: 'Schulen mit mehreren Bildungsgängen',
                                               ausgaben_2.columns[4]: 'Realschulen',
                                               ausgaben_2.columns[5]: 'Gymnasien',
                                               ausgaben_2.columns[6]: 'Integrierte Gesamt schulen'})

    ausgaben_3 = ausgaben_3.rename(columns={ausgaben_3.columns[1]: 'Personalausgaben',
                                               ausgaben_3.columns[2]: 'Laufender Sach-aufwand',
                                               ausgaben_3.columns[3]: 'Investi-tionsaus-gaben',
                                               ausgaben_3.columns[4]: 'Gesamtausgaben',
                                               ausgaben_3.columns[5]: 'darunter: von staatlicher Ebene'})

    #merge the different sheets for each year
    ausgaben = pd.merge(ausgaben_1, ausgaben_2, on="Federal States")
    ausgaben = pd.merge(ausgaben, ausgaben_3, on="Federal States")

    # apply lambda function to remove spaces
    ausgaben.iloc[:, 1:] = ausgaben.iloc[:, 1:].applymap(lambda x: str(x).replace(' ', ''))

    # Replace forward slashes with empty strings
    ausgaben = ausgaben.applymap(lambda x: x.replace('/', '0'))

    # convert all numeric values to float to be able to convert to int
    ausgaben.iloc[:, 1:15] = ausgaben.iloc[:, 1:15].astype('float')

    # Convert the 'year' column to datetime format
    ausgaben['year'] = pd.to_datetime(ausgaben['year'], format='%Y')

    # now convert all to int
    ausgaben.iloc[:, 1:15] = ausgaben.iloc[:, 1:15].astype('Int64')
    return ausgaben

In [61]:
# Load data for teachers each year
teachers_2011 = load_teachers_data(2011)
teachers_2012 = load_teachers_data(2012)
teachers_2013 = load_teachers_data(2013)
teachers_2014 = load_teachers_data(2014)
teachers_2015 = load_teachers_data(2015)
teachers_2016 = load_teachers_data(2016)
teachers_2017 = load_teachers_data(2017)
teachers_2018 = load_teachers_data(2018)
teachers_2019 = load_teachers_data(2019)
teachers_2020 = load_teachers_data(2020)
teachers_2021 = load_teachers_data(2021)

In [62]:
# Load data for students each year
students_2011 = load_students_data(2011)
students_2012 = load_students_data(2012)
students_2013 = load_students_data(2013)
students_2014 = load_students_data(2014)
students_2015 = load_students_data(2015)
students_2016 = load_students_data(2016)
students_2017 = load_students_data(2017)
students_2018 = load_students_data(2018)
students_2019 = load_students_data(2019)
students_2020 = load_students_data(2020)
students_2021 = load_students_data(2021)

In [63]:
# Load data for students_per_teacher each year
students_per_teacher_2011 = load_students_per_teacher_data(2011)
students_per_teacher_2012 = load_students_per_teacher_data(2012)
students_per_teacher_2013 = load_students_per_teacher_data(2013)
students_per_teacher_2014 = load_students_per_teacher_data(2014)
students_per_teacher_2015 = load_students_per_teacher_data(2015)
students_per_teacher_2016 = load_students_per_teacher_data(2016)
students_per_teacher_2017 = load_students_per_teacher_data(2017)
students_per_teacher_2018 = load_students_per_teacher_data(2018)
students_per_teacher_2019 = load_students_per_teacher_data(2019)
students_per_teacher_2020 = load_students_per_teacher_data(2020)
students_per_teacher_2021 = load_students_per_teacher_data(2021)

In [64]:
# Load data for hours_per_student each year
hours_per_student_2011 = load_hours_per_student_data(2011)
hours_per_student_2012 = load_hours_per_student_data(2012)
hours_per_student_2013 = load_hours_per_student_data(2013)
hours_per_student_2014 = load_hours_per_student_data(2014)
hours_per_student_2015 = load_hours_per_student_data(2015)
hours_per_student_2016 = load_hours_per_student_data(2016)
hours_per_student_2017 = load_hours_per_student_data(2017)
hours_per_student_2018 = load_hours_per_student_data(2018)
hours_per_student_2019 = load_hours_per_student_data(2019)
hours_per_student_2020 = load_hours_per_student_data(2020)
hours_per_student_2021 = load_hours_per_student_data(2021)

In [65]:
# Load data for ausgaben each year
ausgaben_2010 = load_ausgaben_data(2010)
ausgaben_2011 = load_ausgaben_data(2011)
ausgaben_2012 = load_ausgaben_data(2012)
ausgaben_2013 = load_ausgaben_data(2013)
ausgaben_2014 = load_ausgaben_data(2014)
ausgaben_2015 = load_ausgaben_data(2015)
ausgaben_2016 = load_ausgaben_data(2016)
ausgaben_2017 = load_ausgaben_data(2017)
ausgaben_2019 = load_ausgaben_data(2019)

/var/folders/hl/45qz0qvs75d0y52lx1m7k9rh0000gn/T/ipykernel_1068/1383945048.py:66: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  ausgaben.iloc[:, 1:15] = ausgaben.iloc[:, 1:15].astype('Int64')
/var/folders/hl/45qz0qvs75d0y52lx1m7k9rh0000gn/T/ipykernel_1068/1383945048.py:66: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  ausgaben.iloc[:, 1:15] = ausgaben.iloc[:, 1:15].astype('Int64')
/var/folders/hl/45qz0qvs75d0y52lx1m7k9rh0000gn/T/ipykernel_1068/1383945048.py:66: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  ausgaben.iloc[:, 1:15] = ausgaben.iloc[:, 1:15].astype('Int64')
/var/folders/hl/45qz0qvs75d0y52lx1m7k9rh0000gn/T/ipykernel_1068/1383945048.py:66: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  ausgaben.iloc[:, 1:15] = ausgaben.iloc[:, 1:15].astype('Int64')
/var/folders/hl/45qz0qvs75d0y52lx1m7k9rh0000gn/T/ipykernel_1068/1383945048.py:66: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  ausgaben.iloc[:, 1:15] = ausgaben.iloc[:, 1:15].astype('Int64')
/var/folders/hl/45qz0qvs75d0y52lx1m7k9rh0000gn/T/ipykernel_1068/1383945048.py:66: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  ausgaben.iloc[:, 1:15] = ausgaben.iloc[:, 1:15].astype('Int64')
/var/folders/hl/45qz0qvs75d0y52lx1m7k9rh0000gn/T/ipykernel_1068/1383945048.py:66: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  ausgaben.iloc[:, 1:15] = ausgaben.iloc[:, 1:15].astype('Int64')
/var/folders/hl/45qz0qvs75d0y52lx1m7k9rh0000gn/T/ipykernel_1068/1383945048.py:66: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  ausgaben.iloc[:, 1:15] = ausgaben.iloc[:, 1:15].astype('Int64')
/var/folders/hl/45qz0qvs75d0y52lx1m7k9rh0000gn/T/ipykernel_1068/1383945048.py:66: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  ausgaben.iloc[:, 1:15] = ausgaben.iloc[:, 1:15].astype('Int64')

In [66]:
teachers_concat = pd.concat([  teachers_2011, teachers_2012, teachers_2013,
                            teachers_2014, teachers_2015, teachers_2016,
                            teachers_2017, teachers_2018, teachers_2019,
                            teachers_2020, teachers_2021], ignore_index=True)

students_concat = pd.concat([students_2011, students_2012, students_2013, students_2014,
                             students_2015, students_2016, students_2017, students_2018,
                             students_2019, students_2020, students_2021], ignore_index=True)

students_per_teacher_concat = pd.concat([students_per_teacher_2011, students_per_teacher_2012, students_per_teacher_2013,
                             students_per_teacher_2014, students_per_teacher_2015, students_per_teacher_2016,
                             students_per_teacher_2017, students_per_teacher_2018, students_per_teacher_2019,
                             students_per_teacher_2020, students_per_teacher_2021], ignore_index=True)

hours_per_student_concat = pd.concat([hours_per_student_2011, hours_per_student_2012, hours_per_student_2013,
                            hours_per_student_2014, hours_per_student_2015, hours_per_student_2016,
                            hours_per_student_2017, hours_per_student_2018, hours_per_student_2019,
                            hours_per_student_2020, hours_per_student_2021], ignore_index=True)

ausgaben_concat = pd.concat([ausgaben_2010 ,ausgaben_2011, ausgaben_2012,
                             ausgaben_2013, ausgaben_2014, ausgaben_2015,
                             ausgaben_2016, ausgaben_2017, ausgaben_2019],
                             ignore_index=False)

In [94]:
def calculate_investment_per_student(Year):
    teachers = load_teachers_data(Year)
    students = load_students_data(Year)
    students_per_teacher = load_students_per_teacher_data(Year)

    # Calculate the total number of teachers per state
    total_teachers = teachers.sum()

    # Calculate the total number of students per state
    total_students = students.sum()

    # Calculate the total amount of money spent on education per state
    total_spending = students_per_teacher * total_teachers

    # Calculate the amount of money spent on education per student per state
    investment_per_student = total_spending / total_students

    return investment_per_student

In [114]:
calculate_investment_per_student(2011)

TypeError: can't multiply sequence by non-int of type 'str'

In [112]:
teachers = load_teachers_data(2011)
total_teachers = teachers.sum()


students = load_students_data(2011)
total_students = students.sum()


students_per_teacher = load_students_per_teacher_data(2011)

students_per_teacher['Bayern'] = pd.to_numeric(students_per_teacher['Bayern'], errors='coerce')


total_spending = students_per_teacher['Bayern'] * teachers['Bayern']

investment_per_student = total_spending / total_students

In [113]:
total_spending

1     1337301.0
12     721794.0
22     506573.0
Name: Bayern, dtype: float64

In [110]:
investment_per_student

1                         NaN
12                        NaN
22                        NaN
Baden-Wüttemberg          NaN
Bayern                    NaN
Berlin                    NaN
Brandenburg               NaN
Bremen                    NaN
Deutschland               NaN
Hamburg                   NaN
Hessen                    NaN
Mecklenburg-Vorpommern    NaN
Niedersachsen             NaN
Nordrhein-Westfalen       NaN
Rheinland-Pfalz           NaN
Saarland                  NaN
Sachsen                   NaN
Sachsen-Anhalt            NaN
Schleswig-Holstein        NaN
SchoolType                NaN
Thüringen                 NaN
Year                      NaN
dtype: object

In [105]:
students_per_teacher

,SchoolType,Baden-Wüttemberg,Bayern,Berlin,Brandenburg,Bremen,Hamburg,Hessen,Mecklenburg-Vorpommern,Niedersachsen,Nordrhein-Westfalen,Rheinland-Pfalz,Saarland,Sachsen,Sachsen-Anhalt,Schleswig-Holstein,Thüringen,Deutschland,Year
1,Allgemein bildende Schulen,13.737650,14.278404,13.286029,13.065000,13.918372,13.242809,14.254866,13.506770,14.283653,14.927815,14.238074,13.635042,12.712766,11.591368,15.080593,11.544582,14.057735,2011
12,Sekundarbereich I,14.756624,14.351208,12.927184,12.895156,14.370738,13.998638,15.663223,12.764523,14.947557,15.730495,15.455063,14.568075,12.623867,11.818932,14.765622,11.350728,14.603145,2011
22,Sekundarbereich II,16.969732,19.253278,17.288148,16.751793,20.002601,17.850268,17.903542,20.624408,18.410433,19.595729,18.529902,21.266667,16.899378,17.786554,22.176501,13.936078,18.426658,2011