In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('fivethirtyeight')

#input custom functions
import eda_express
import add_year
import exams_total
from noten import noten_2021, noten_2020, noten_2019, noten_2018, noten_2017, noten_2016

/Users/kamilkarim/neuefische/capstone_project_hh_23_1/eda_express.py:14: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_copy.iloc[:, 1:] = df_copy.iloc[:, 1:].apply(lambda x: x.str.replace('.', ''))
/Users/kamilkarim/neuefische/capstone_project_hh_23_1/eda_express.py:23: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df_copy.iloc[:, 1:] = df_copy.iloc[:, 1:].astype(int)
/Users/kamilkarim/neuefische/capstone_project_hh_23_1/eda_express.py:14: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_copy.iloc[:, 1:] = df_copy.iloc[:, 1:].apply(lambda x: x.str.replace('.', ''))
/Users/kamilkarim/neuefische/capstone_project_hh_23_1/eda_express.py:23: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df_copy.iloc[:, 1:] = df_copy.iloc[:, 1:].astype(int)
/Users/kamilkarim/neuefische/capstone_project_hh_23_1/eda_express.py:14: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_copy.iloc[:, 1:] = df_copy.iloc[:, 1:].apply(lambda x: x.str.replace('.', ''))
/Users/kamilkarim/neuefische/capstone_project_hh_23_1/eda_express.py:23: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df_copy.iloc[:, 1:] = df_copy.iloc[:, 1:].astype(int)
/Users/kamilkarim/neuefische/capstone_project_hh_23_1/eda_express.py:14: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_copy.iloc[:, 1:] = df_copy.iloc[:, 1:].apply(lambda x: x.str.replace('.', ''))
/Users/kamilkarim/neuefische/capstone_project_hh_23_1/eda_express.py:23: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df_copy.iloc[:, 1:] = df_copy.iloc[:, 1:].astype(int)
/Users/kamilkarim/neuefische/capstone_project_hh_23_1/eda_express.py:14: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_copy.iloc[:, 1:] = df_copy.iloc[:, 1:].apply(lambda x: x.str.replace('.', ''))
/Users/kamilkarim/neuefische/capstone_project_hh_23_1/eda_express.py:23: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df_copy.iloc[:, 1:] = df_copy.iloc[:, 1:].astype(int)
/Users/kamilkarim/neuefische/capstone_project_hh_23_1/eda_express.py:14: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_copy.iloc[:, 1:] = df_copy.iloc[:, 1:].apply(lambda x: x.str.replace('.', ''))
/Users/kamilkarim/neuefische/capstone_project_hh_23_1/eda_express.py:23: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df_copy.iloc[:, 1:] = df_copy.iloc[:, 1:].astype(int)
/Users/kamilkarim/neuefische/capstone_project_hh_23_1/eda_express.py:14: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_copy.iloc[:, 1:] = df_copy.iloc[:, 1:].apply(lambda x: x.str.replace('.', ''))
/Users/kamilkarim/neuefische/capstone_project_hh_23_1/eda_express.py:23: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df_copy.iloc[:, 1:] = df_copy.iloc[:, 1:].astype(int)
/Users/kamilkarim/neuefische/capstone_project_hh_23_1/eda_express.py:14: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_copy.iloc[:, 1:] = df_copy.iloc[:, 1:].apply(lambda x: x.str.replace('.', ''))
/Users/kamilkarim/neuefische/capstone_project_hh_23_1/eda_express.py:23: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df_copy.iloc[:, 1:] = df_copy.iloc[:, 1:].astype(int)
/Users/kamilkarim/neuefische/capstone_project_hh_23_1/eda_express.py:14: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_copy.iloc[:, 1:] = df_copy.iloc[:, 1:].apply(lambda x: x.str.replace('.', ''))
/Users/kamilkarim/neuefische/capstone_project_hh_23_1/eda_express.py:23: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df_copy.iloc[:, 1:] = df_copy.iloc[:, 1:].astype(int)
/Users/kamilkarim/neuefische/capstone_project_hh_23_1/eda_express.py:14: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_copy.iloc[:, 1:] = df_copy.iloc[:, 1:].apply(lambda x: x.str.replace('.', ''))
/Users/kamilkarim/neuefische/capstone_project_hh_23_1/eda_express.py:23: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df_copy.iloc[:, 1:] = df_copy.iloc[:, 1:].astype(int)
/Users/kamilkarim/neuefische/capstone_project_hh_23_1/eda_express.py:14: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_copy.iloc[:, 1:] = df_copy.iloc[:, 1:].apply(lambda x: x.str.replace('.', ''))
/Users/kamilkarim/neuefische/capstone_project_hh_23_1/eda_express.py:23: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df_copy.iloc[:, 1:] = df_copy.iloc[:, 1:].astype(int)
/Users/kamilkarim/neuefische/capstone_project_hh_23_1/eda_express.py:14: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_copy.iloc[:, 1:] = df_copy.iloc[:, 1:].apply(lambda x: x.str.replace('.', ''))
/Users/kamilkarim/neuefische/capstone_project_hh_23_1/eda_express.py:23: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df_copy.iloc[:, 1:] = df_copy.iloc[:, 1:].astype(int)
/Users/kamilkarim/neuefische/capstone_project_hh_23_1/eda_express.py:14: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_copy.iloc[:, 1:] = df_copy.iloc[:, 1:].apply(lambda x: x.str.replace('.', ''))
/Users/kamilkarim/neuefische/capstone_project_hh_23_1/eda_express.py:23: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df_copy.iloc[:, 1:] = df_copy.iloc[:, 1:].astype(int)

In [2]:
noten_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 6 to 36
Data columns (total 18 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Noten   31 non-null     object
 1   BW      31 non-null     int64
 2   BY      31 non-null     int64
 3   BE      31 non-null     int64
 4   BB      31 non-null     int64
 5   HB      31 non-null     int64
 6   HH      31 non-null     int64
 7   HE      31 non-null     int64
 8   MV      31 non-null     int64
 9   NI      31 non-null     int64
 10  NW      31 non-null     int64
 11  RP      31 non-null     int64
 12  SL      31 non-null     int64
 13  SN      31 non-null     int64
 14  ST      31 non-null     int64
 15  SH      31 non-null     int64
 16  TH      31 non-null     int64
 17  year    31 non-null     int64
dtypes: int64(17), object(1)
memory usage: 4.5+ KB

In [6]:
noten_2020.T.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18 entries, Noten to year
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   6       18 non-null     object
 1   7       18 non-null     object
 2   8       18 non-null     object
 3   9       18 non-null     object
 4   10      18 non-null     object
 5   11      18 non-null     object
 6   12      18 non-null     object
 7   13      18 non-null     object
 8   14      18 non-null     object
 9   15      18 non-null     object
 10  16      18 non-null     object
 11  17      18 non-null     object
 12  18      18 non-null     object
 13  19      18 non-null     object
 14  20      18 non-null     object
 15  21      18 non-null     object
 16  22      18 non-null     object
 17  23      18 non-null     object
 18  24      18 non-null     object
 19  25      18 non-null     object
 20  26      18 non-null     object
 21  27      18 non-null     object
 22  28      18 non-null     object
 23  29      18 non-null     object
 24  30      18 non-null     object
 25  31      18 non-null     object
 26  32      18 non-null     object
 27  33      18 non-null     object
 28  34      18 non-null     object
 29  35      18 non-null     object
 30  36      18 non-null     object
dtypes: object(31)
memory usage: 5.0+ KB

In [10]:
noten_2020.T.iloc[2:, :] = noten_2020.T.iloc[2:, :].astype(int)

In [3]:
noten_2020.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18 entries, Noten to year
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   6       18 non-null     object
 1   7       18 non-null     object
 2   8       18 non-null     object
 3   9       18 non-null     object
 4   10      18 non-null     object
 5   11      18 non-null     object
 6   12      18 non-null     object
 7   13      18 non-null     object
 8   14      18 non-null     object
 9   15      18 non-null     object
 10  16      18 non-null     object
 11  17      18 non-null     object
 12  18      18 non-null     object
 13  19      18 non-null     object
 14  20      18 non-null     object
 15  21      18 non-null     object
 16  22      18 non-null     object
 17  23      18 non-null     object
 18  24      18 non-null     object
 19  25      18 non-null     object
 20  26      18 non-null     object
 21  27      18 non-null     object
 22  28      18 non-null     object
 23  29      18 non-null     object
 24  30      18 non-null     object
 25  31      18 non-null     object
 26  32      18 non-null     object
 27  33      18 non-null     object
 28  34      18 non-null     object
 29  35      18 non-null     object
 30  36      18 non-null     object
dtypes: object(31)
memory usage: 4.5+ KB

In [11]:
trans = noten_2020.T 
trans

,6,7,8,9,10,11,12,13,14,15,...,27,28,29,30,31,32,33,34,35,36
Noten,1.0,1.1,1.2,1.3,1.4,1.5,1.6,1.7,1.8,1.9,...,3.1,3.2,3.3,3.4,3.5,3.6,3.7,3.8,3.9,4.0
BW,1010,563,784,959,1080,1246,1519,1498,1786,1865,...,1912,1724,1482,1184,829,428,133,34,8,7
BY,883,598,745,917,1072,1166,1421,1515,1688,1838,...,1458,1191,912,629,384,197,68,10,5,2
BE,337,220,273,319,395,442,429,544,544,610,...,538,540,458,334,206,112,24,4,1,0
BB,231,128,160,215,257,309,319,351,408,442,...,348,271,199,111,60,15,2,0,0,0
HB,62,37,45,63,66,84,70,76,107,106,...,127,102,99,62,56,22,13,3,0,1
HH,194,138,155,215,226,264,291,311,382,392,...,412,330,309,205,156,63,20,3,0,0
HE,650,379,447,503,668,716,763,840,920,967,...,939,794,666,520,323,194,87,22,11,8
MV,131,69,82,144,136,132,162,185,212,220,...,235,210,173,93,73,19,3,0,0,0
NI,56,36,57,70,92,143,138,192,250,281,...,700,630,631,476,342,179,70,12,1,0
NW,1780,1041,1395,1590,1861,2100,2446,2587,2823,3257,...,3957,3633,3162,2597,1853,1109,382,88,13,18
RP,215,166,215,266,319,400,463,502,548,641,...,882,778,697,603,382,244,75,23,9,4
SL,89,51,57,68,87,93,102,113,108,133,...,158,153,116,71,36,16,1,0,0,0
SN,366,212,253,362,423,491,518,558,596,663,...,374,297,200,134,43,20,5,0,0,0
ST,140,68,104,119,144,182,168,222,243,264,...,265,225,160,103,44,13,0,0,0,0
SH,160,102,152,180,210,254,325,352,384,433,...,667,621,547,430,282,169,65,20,2,2
TH,212,144,170,192,239,275,290,314,317,372,...,196,132,116,53,18,9,4,0,0,0
year,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,...,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020

In [16]:
trans = trans.iloc[1:, :].astype(int) # = trans.T.iloc[2:, :].astype(int)

In [17]:
trans.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17 entries, BW to year
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   6       17 non-null     int64
 1   7       17 non-null     int64
 2   8       17 non-null     int64
 3   9       17 non-null     int64
 4   10      17 non-null     int64
 5   11      17 non-null     int64
 6   12      17 non-null     int64
 7   13      17 non-null     int64
 8   14      17 non-null     int64
 9   15      17 non-null     int64
 10  16      17 non-null     int64
 11  17      17 non-null     int64
 12  18      17 non-null     int64
 13  19      17 non-null     int64
 14  20      17 non-null     int64
 15  21      17 non-null     int64
 16  22      17 non-null     int64
 17  23      17 non-null     int64
 18  24      17 non-null     int64
 19  25      17 non-null     int64
 20  26      17 non-null     int64
 21  27      17 non-null     int64
 22  28      17 non-null     int64
 23  29      17 non-null     int64
 24  30      17 non-null     int64
 25  31      17 non-null     int64
 26  32      17 non-null     int64
 27  33      17 non-null     int64
 28  34      17 non-null     int64
 29  35      17 non-null     int64
 30  36      17 non-null     int64
dtypes: int64(31)
memory usage: 4.2+ KB

In [14]:
noten_2020.T

,6,7,8,9,10,11,12,13,14,15,...,27,28,29,30,31,32,33,34,35,36
Noten,1.0,1.1,1.2,1.3,1.4,1.5,1.6,1.7,1.8,1.9,...,3.1,3.2,3.3,3.4,3.5,3.6,3.7,3.8,3.9,4.0
BW,1010,563,784,959,1080,1246,1519,1498,1786,1865,...,1912,1724,1482,1184,829,428,133,34,8,7
BY,883,598,745,917,1072,1166,1421,1515,1688,1838,...,1458,1191,912,629,384,197,68,10,5,2
BE,337,220,273,319,395,442,429,544,544,610,...,538,540,458,334,206,112,24,4,1,0
BB,231,128,160,215,257,309,319,351,408,442,...,348,271,199,111,60,15,2,0,0,0
HB,62,37,45,63,66,84,70,76,107,106,...,127,102,99,62,56,22,13,3,0,1
HH,194,138,155,215,226,264,291,311,382,392,...,412,330,309,205,156,63,20,3,0,0
HE,650,379,447,503,668,716,763,840,920,967,...,939,794,666,520,323,194,87,22,11,8
MV,131,69,82,144,136,132,162,185,212,220,...,235,210,173,93,73,19,3,0,0,0
NI,56,36,57,70,92,143,138,192,250,281,...,700,630,631,476,342,179,70,12,1,0
NW,1780,1041,1395,1590,1861,2100,2446,2587,2823,3257,...,3957,3633,3162,2597,1853,1109,382,88,13,18
RP,215,166,215,266,319,400,463,502,548,641,...,882,778,697,603,382,244,75,23,9,4
SL,89,51,57,68,87,93,102,113,108,133,...,158,153,116,71,36,16,1,0,0,0
SN,366,212,253,362,423,491,518,558,596,663,...,374,297,200,134,43,20,5,0,0,0
ST,140,68,104,119,144,182,168,222,243,264,...,265,225,160,103,44,13,0,0,0,0
SH,160,102,152,180,210,254,325,352,384,433,...,667,621,547,430,282,169,65,20,2,2
TH,212,144,170,192,239,275,290,314,317,372,...,196,132,116,53,18,9,4,0,0,0
year,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,...,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020

In [16]:
noten_2020.T.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18 entries, Noten to year
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   6       18 non-null     object
 1   7       18 non-null     object
 2   8       18 non-null     object
 3   9       18 non-null     object
 4   10      18 non-null     object
 5   11      18 non-null     object
 6   12      18 non-null     object
 7   13      18 non-null     object
 8   14      18 non-null     object
 9   15      18 non-null     object
 10  16      18 non-null     object
 11  17      18 non-null     object
 12  18      18 non-null     object
 13  19      18 non-null     object
 14  20      18 non-null     object
 15  21      18 non-null     object
 16  22      18 non-null     object
 17  23      18 non-null     object
 18  24      18 non-null     object
 19  25      18 non-null     object
 20  26      18 non-null     object
 21  27      18 non-null     object
 22  28      18 non-null     object
 23  29      18 non-null     object
 24  30      18 non-null     object
 25  31      18 non-null     object
 26  32      18 non-null     object
 27  33      18 non-null     object
 28  34      18 non-null     object
 29  35      18 non-null     object
 30  36      18 non-null     object
dtypes: object(31)
memory usage: 5.0+ KB

In [3]:
noten_2020.iloc[1:17]

,6,7,8,9,10,11,12,13,14,15,...,27,28,29,30,31,32,33,34,35,36
BW,1010.0,563.0,784.0,959.0,1080.0,1246.0,1519.0,1498.0,1786.0,1865.0,...,1912.0,1724.0,1482.0,1184.0,829.0,428.0,133.0,34.0,8.0,7.0
BY,883.0,598.0,745.0,917.0,1072.0,1166.0,1421.0,1515.0,1688.0,1838.0,...,1458.0,1191.0,912.0,629.0,384.0,197.0,68.0,10.0,5.0,2.0
BE,337.0,220.0,273.0,319.0,395.0,442.0,429.0,544.0,544.0,610.0,...,538.0,540.0,458.0,334.0,206.0,112.0,24.0,4.0,1.0,0.0
BB,231.0,128.0,160.0,215.0,257.0,309.0,319.0,351.0,408.0,442.0,...,348.0,271.0,199.0,111.0,60.0,15.0,2.0,0.0,0.0,0.0
HB,62.0,37.0,45.0,63.0,66.0,84.0,70.0,76.0,107.0,106.0,...,127.0,102.0,99.0,62.0,56.0,22.0,13.0,3.0,0.0,1.0
HH,194.0,138.0,155.0,215.0,226.0,264.0,291.0,311.0,382.0,392.0,...,412.0,330.0,309.0,205.0,156.0,63.0,20.0,3.0,0.0,0.0
HE,650.0,379.0,447.0,503.0,668.0,716.0,763.0,840.0,920.0,967.0,...,939.0,794.0,666.0,520.0,323.0,194.0,87.0,22.0,11.0,8.0
MV,131.0,69.0,82.0,144.0,136.0,132.0,162.0,185.0,212.0,220.0,...,235.0,210.0,173.0,93.0,73.0,19.0,3.0,0.0,0.0,0.0
NI,56.0,36.0,57.0,70.0,92.0,143.0,138.0,192.0,250.0,281.0,...,700.0,630.0,631.0,476.0,342.0,179.0,70.0,12.0,1.0,0.0
NW,1780.0,1041.0,1395.0,1590.0,1861.0,2100.0,2446.0,2587.0,2823.0,3257.0,...,3957.0,3633.0,3162.0,2597.0,1853.0,1109.0,382.0,88.0,13.0,18.0
RP,215.0,166.0,215.0,266.0,319.0,400.0,463.0,502.0,548.0,641.0,...,882.0,778.0,697.0,603.0,382.0,244.0,75.0,23.0,9.0,4.0
SL,89.0,51.0,57.0,68.0,87.0,93.0,102.0,113.0,108.0,133.0,...,158.0,153.0,116.0,71.0,36.0,16.0,1.0,0.0,0.0,0.0
SN,366.0,212.0,253.0,362.0,423.0,491.0,518.0,558.0,596.0,663.0,...,374.0,297.0,200.0,134.0,43.0,20.0,5.0,0.0,0.0,0.0
ST,140.0,68.0,104.0,119.0,144.0,182.0,168.0,222.0,243.0,264.0,...,265.0,225.0,160.0,103.0,44.0,13.0,0.0,0.0,0.0,0.0
SH,160.0,102.0,152.0,180.0,210.0,254.0,325.0,352.0,384.0,433.0,...,667.0,621.0,547.0,430.0,282.0,169.0,65.0,20.0,2.0,2.0
TH,212.0,144.0,170.0,192.0,239.0,275.0,290.0,314.0,317.0,372.0,...,196.0,132.0,116.0,53.0,18.0,9.0,4.0,0.0,0.0,0.0

In [5]:
noten_2020.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18 entries, Noten to year
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   6       18 non-null     float64
 1   7       18 non-null     float64
 2   8       18 non-null     float64
 3   9       18 non-null     float64
 4   10      18 non-null     float64
 5   11      18 non-null     float64
 6   12      18 non-null     float64
 7   13      18 non-null     float64
 8   14      18 non-null     float64
 9   15      18 non-null     float64
 10  16      18 non-null     float64
 11  17      18 non-null     float64
 12  18      18 non-null     float64
 13  19      18 non-null     float64
 14  20      18 non-null     float64
 15  21      18 non-null     float64
 16  22      18 non-null     float64
 17  23      18 non-null     float64
 18  24      18 non-null     float64
 19  25      18 non-null     float64
 20  26      18 non-null     float64
 21  27      18 non-null     float64
 22  28      18 non-null     float64
 23  29      18 non-null     float64
 24  30      18 non-null     float64
 25  31      18 non-null     float64
 26  32      18 non-null     float64
 27  33      18 non-null     float64
 28  34      18 non-null     float64
 29  35      18 non-null     float64
 30  36      18 non-null     float64
dtypes: float64(31)
memory usage: 4.5+ KB

In [4]:
noten_2020.iloc[1:17].describe()

,6,7,8,9,10,11,12,13,14,15,...,27,28,29,30,31,32,33,34,35,36
count,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.0000,16.000000,...,16.000000,16.000000,16.00000,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.00000
mean,407.250000,247.000000,318.375000,386.375000,454.687500,518.562500,589.000000,635.000000,707.2500,780.250000,...,823.000000,726.937500,620.43750,475.312500,317.937500,175.562500,59.500000,13.687500,3.125000,2.62500
std,465.044872,274.210382,365.710974,421.645487,492.067708,548.979656,656.895121,679.531309,755.1169,847.836423,...,970.283601,889.220968,773.34994,642.259005,460.575071,275.073558,94.907674,22.499537,4.544227,4.84252
min,56.000000,36.000000,45.000000,63.000000,66.000000,84.000000,70.000000,76.000000,107.0000,106.000000,...,127.000000,102.000000,99.00000,53.000000,18.000000,9.000000,0.000000,0.000000,0.000000,0.00000
25%,137.750000,68.750000,98.500000,137.750000,142.000000,172.250000,166.500000,214.500000,248.2500,276.750000,...,257.500000,221.250000,169.75000,100.500000,53.000000,18.250000,3.750000,0.000000,0.000000,0.00000
50%,213.500000,141.000000,165.000000,215.000000,248.000000,292.000000,322.000000,351.500000,396.0000,437.500000,...,475.000000,435.000000,383.50000,269.500000,181.000000,87.500000,22.000000,3.500000,0.500000,0.00000
75%,437.000000,259.750000,316.500000,397.250000,484.250000,547.250000,579.250000,628.500000,677.0000,739.000000,...,896.250000,782.000000,673.75000,540.750000,352.000000,194.750000,71.250000,20.500000,5.750000,2.50000
max,1780.000000,1041.000000,1395.000000,1590.000000,1861.000000,2100.000000,2446.000000,2587.000000,2823.0000,3257.000000,...,3957.000000,3633.000000,3162.00000,2597.000000,1853.000000,1109.000000,382.000000,88.000000,13.000000,18.00000

In [ ]:
noten_2020.plot(x='Noten', y=['BW', 'BY', 'BE', 'BB', 'HB', 'HH', 'NI', 'MV'], kind='line', marker='o', figsize=(12, 6))
noten_2022.plot(x='Noten', y=['BW', 'BY', 'BE', 'BB', 'HB', 'HH', 'NI', 'MV'], kind='line', marker='o', figsize=(12, 6))
plt.xlabel('Grades')
plt.ylabel('Number of Students')
plt.title('Number of Students by Grade')
plt.legend(bbox_to_anchor=(1.05, 1), loc='upper left')
plt.show()

In [ ]:
# Calculate the average number of students by state
avg_students_by_state = noten_2022.mean(axis=0)
print(avg_students_by_state)

In [ ]:
# Calculate the total number of students by state
total_students_by_state = noten_2022.sum(axis=0)
print(total_students_by_state)

In [ ]:
noten_2022

In [ ]:
# Group states by regions
east_states = ['BB', 'BE', 'MV', 'SN', 'ST', 'TH']
west_states = ['NW', 'RP', 'HE', 'SH', 'NI']
north_states = ['HH', 'NI', 'SH', 'MV']
south_states = ['BY', 'BW', 'HE', 'RP', 'SL']

# Create a dictionary to map states to regions
state_region_dict = {}
for state in noten_2022.columns[0:]:
    if state in east_states:
        state_region_dict[state] = 'East'
    elif state in west_states:
        state_region_dict[state] = 'West'
    elif state in north_states:
        state_region_dict[state] = 'North'
    elif state in south_states:
        state_region_dict[state] = 'South'

# Add a new column to the dataframe to represent regions
noten_2022['Region'] = noten_2022.columns[0:].map(state_region_dict)

# Group by region and sum the values
#df_grouped = noten_2022.groupby('Region').sum()

# Reset the index of the grouped dataframe
#df_grouped = df_grouped.reset_index()

# Print the grouped dataframe
#print(df_grouped)

In [ ]:
# Calculate the percentage change in number of students by state
percent_change_by_state = noten_2022.pct_change(axis=0) * 100
print(percent_change_by_state)

Short explanation of the describe measures:
- count: Indication of how many values are present in the columns (NaNs/missing values are not counted).
- mean: average value of the data
- std: standard deviation of the data
- min: the smallest value in the data set
- 25%: 25 % of the data are below this value
- 50%: 50% of the data are below this value. This value is called the median.
- 75%: 75% of the data are below this value
- max: the largest expression in the data set

In [ ]:
noten_2022.info()

In [ ]:
fig, ax = plt.subplots(2,3, figsize=(20,10)) # create subplots on 2 rows and 3 columns
plt.suptitle('Distribution of grades', fontsize=20)
fig.tight_layout() # tight_layout automatically adjusts subplot params so that the subplot(s) fits in to the figure area
plt.subplots_adjust(hspace = .5, wspace = .2, top = .9) # adjusts the space between the single subplots

ax[0][0].hist(x=exams_2022['BW'], bins=832)  # creates histogram for number of frequency
ax[0][0].set_ylabel("No of people by grade", fontsize = 10) # sets the label y-axis
ax[0][0].set_xlim(0,4.000000) # limits the x-axis values from 0 to 1000000 
ax[0][0].set_title("Totals of Examinations, Passed and Failed", fontsize = 15);  # sets title for subplot

In [ ]:
# Plot number of videos per category
plt.figure(figsize=(15,8)) # specify figure size
f1 = sns.barplot(x=noten2010['BW'], y=noten2010['Noten']) # create plot
f1.tick_params(axis=('both'), rotation=90) # get x-ticks and rotate them
f1.set(xlabel=None) # set no label for x-axis
f1.set_ylabel("Grades", fontsize = 10); # set label for y-axis
f1.set_title('Frequency Amount', fontsize=20); # set title

In [ ]:
# Plot number of videos per category
plt.figure(figsize=(15,8)) # specify figure size
f1 = sns.barplot(x=noten2010['BW'], y=noten2010['Noten']) # create countplot
f1.tick_params(axis=('both'), rotation=90) # get x-ticks and rotate them
f1.set(xlabel=None) # set no label for x-axis 
f1.set_ylabel("Grades", fontsize = 10); # set label for y-axis
f1.set_title('Frequency Amount', fontsize=20); # set title

In [ ]:
noten_2021 = eda_express.read_csv_file('./data/Converted to CSV/Aus_Abiturnoten_2021/Noten-Table 1.csv')
noten_2021 = add_year.add_year(noten_2021, 'year', 2021)
noten_2021.head()

In [ ]:
noten_2022.info()