# Vorschule und zusammenhang mit Education Level?

### Imports etc.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
#pd.set_option('display.max_rows', None)

from master_jw import preschool_2011, preschool_2012, preschool_2013, preschool_2014, preschool_2015, preschool_2016, preschool_2017, preschool_2018, preschool_2019, preschool_2020, preschool_2021, abschluss_2011, abschluss_2012, abschluss_2013, abschluss_2014, abschluss_2015, abschluss_2016, abschluss_2017, abschluss_2018, abschluss_2019, abschluss_2020, abschluss_2021

#from exams_data_jw import exams_2011, exams_2012, exams_2013, exams_2014, exams_2015, exams_2016, exams_2017, exams_2018, exams_2019, exams_2020, exams_2021

Z1.1
Z3.1
Z3.2
Z4.1
Z4.2
Z5.1
Z6.1
Z7.1
Z8.1
Z1.2
Z10.1
Z10.2
Z2.1
Z2.2
Z5.2
Z6.2
Z7.2
Z8.2
Z9.1
Z9.2
Z1.1
Z3.1
Z3.2
Z4.1
Z4.2
Z5.1
Z6.1
Z7.1
Z8.1
Z1.2
Z10.1
Z10.2
Z2.1
Z2.2
Z5.2
Z6.2
Z7.2
Z8.2
Z9.1
Z9.2
Z1.1
Z3.1
Z3.2
Z4.1
Z4.2
Z5.1
Z6.1
Z7.1
Z8.1
Z1.2
Z10.1
Z10.2
Z2.1
Z2.2
Z5.2
Z6.2
Z7.2
Z8.2
Z9.1
Z9.2
Z1.1
Z3.1
Z3.2
Z4.1
Z4.2
Z5.1
Z6.1
Z7.1
Z8.1
Z1.2
Z10.1
Z10.2
Z2.1
Z2.2
Z5.2
Z6.2
Z7.2
Z8.2
Z9.1
Z9.2
Z1.1
Z3.1
Z3.2
Z4.1
Z4.2
Z5.1
Z6.1
Z7.1
Z8.1
Z1.2
Z10.1
Z10.2
Z2.1
Z2.2
Z5.2
Z6.2
Z7.2
Z8.2
Z9.1
Z9.2
Z1.1
Z3.1
Z3.2
Z4.1
Z4.2
Z5.1
Z6.1
Z7.1
Z8.1
Z1.2
Z10.1
Z10.2
Z2.1
Z2.2
Z5.2
Z6.2
Z7.2
Z8.2
Z9.1
Z9.2
Z1.1
Z3.1
Z3.2
Z4.1
Z4.2
Z5.1
Z6.1
Z7.1
Z8.1
Z9.1
Z1.2
Z10.1
Z10.2
Z2.1
Z2.2
Z5.2
Z6.2
Z7.2
Z8.2
Z9.2
Z1.1
Z3.1
Z3.2
Z4.1
Z4.2
Z5.1
Z6.1
Z7.1
Z8.1
Z9.1
Z1.2
Z10.1
Z10.2
Z2.1
Z2.2
Z5.2
Z6.2
Z7.2
Z8.2
Z9.2
Z1.1
Z3.1
Z3.2
Z4.1
Z4.2
Z5.1
Z6.1
Z7.1
Z8.1
Z9.1
Z1.2
Z10.1
Z10.2
Z2.1
Z2.2
Z5.2
Z6.2
Z7.2
Z8.2
Z9.2
Z1.1
Z3.1
Z3.2
Z4.1
Z4.2
Z5.1
Z6.1
Z7.1
Z8.1
Z9.1
Z1.2
Z10.1
Z10.2
Z2.1
Z2.2
Z5.2
Z6.2
Z7.2
Z8.2
Z9.2
Z1.1
Z3.1
Z3.2
Z4.1
Z4.2
Z5.1
Z6.1
Z7.1
Z8.1
Z9.1
Z1.2
Z10.1
Z10.2
Z2.1
Z2.2
Z5.2
Z6.2
Z7.2
Z8.2
Z9.2
Z1.1
Z3.1
Z3.2
Z4.1
Z4.2
Z5.1
Z6.1
Z7.1
Z8.1
Z1.2
Z10.1
Z10.2
Z2.1
Z2.2
Z5.2
Z6.2
Z7.2
Z8.2
Z9.1
Z9.2
Z1.1
Z3.1
Z3.2
Z4.1
Z4.2
Z5.1
Z6.1
Z7.1
Z8.1
Z1.2
Z10.1
Z10.2
Z2.1
Z2.2
Z5.2
Z6.2
Z7.2
Z8.2
Z9.1
Z9.2
Z1.1
Z3.1
Z3.2
Z4.1
Z4.2
Z5.1
Z6.1
Z7.1
Z8.1
Z1.2
Z10.1
Z10.2
Z2.1
Z2.2
Z5.2
Z6.2
Z7.2
Z8.2
Z9.1
Z9.2
Z1.1
Z3.1
Z3.2
Z4.1
Z4.2
Z5.1
Z6.1
Z7.1
Z8.1
Z1.2
Z10.1
Z10.2
Z2.1
Z2.2
Z5.2
Z6.2
Z7.2
Z8.2
Z9.1
Z9.2
Z1.1
Z3.1
Z3.2
Z4.1
Z4.2
Z5.1
Z6.1
Z7.1
Z8.1
Z1.2
Z10.1
Z10.2
Z2.1
Z2.2
Z5.2
Z6.2
Z7.2
Z8.2
Z9.1
Z9.2
Z1.1
Z3.1
Z3.2
Z4.1
Z4.2
Z5.1
Z6.1
Z7.1
Z8.1
Z1.2
Z10.1
Z10.2
Z2.1
Z2.2
Z5.2
Z6.2
Z7.2
Z8.2
Z9.1
Z9.2
Z1.1
Z3.1
Z3.2
Z4.1
Z4.2
Z5.1
Z6.1
Z7.1
Z8.1
Z9.1
Z1.2
Z10.1
Z10.2
Z2.1
Z2.2
Z5.2
Z6.2
Z7.2
Z8.2
Z9.2
Z1.1
Z3.1
Z3.2
Z4.1
Z4.2
Z5.1
Z6.1
Z7.1
Z8.1
Z9.1
Z1.2
Z10.1
Z10.2
Z2.1
Z2.2
Z5.2
Z6.2
Z7.2
Z8.2
Z9.2
Z1.1
Z3.1
Z3.2
Z4.1
Z4.2
Z5.1
Z6.1
Z7.1
Z8.1
Z9.1
Z1.2
Z10.1
Z10.2
Z2.1
Z2.2
Z5.2
Z6.2
Z7.2
Z8.2
Z9.2
Z1.1
Z3.1
Z3.2
Z4.1
Z4.2
Z5.1
Z6.1
Z7.1
Z8.1
Z9.1
Z1.2
Z10.1
Z10.2
Z2.1
Z2.2
Z5.2
Z6.2
Z7.2
Z8.2
Z9.2
Z1.1
Z3.1
Z3.2
Z4.1
Z4.2
Z5.1
Z6.1
Z7.1
Z8.1
Z9.1
Z1.2
Z10.1
Z10.2
Z2.1
Z2.2
Z5.2
Z6.2
Z7.2
Z8.2
Z9.2
Z1.1
Z3.1
Z3.2
Z4.1
Z4.2
Z5.1
Z6.1
Z7.1
Z8.1
Z1.2
Z10.1
Z10.2
Z2.1
Z2.2
Z5.2
Z6.2
Z7.2
Z8.2
Z9.1
Z9.2
Z1.1
Z3.1
Z3.2
Z4.1
Z4.2
Z5.1
Z6.1
Z7.1
Z8.1
Z1.2
Z10.1
Z10.2
Z2.1
Z2.2
Z5.2
Z6.2
Z7.2
Z8.2
Z9.1
Z9.2
Z1.1
Z3.1
Z3.2
Z4.1
Z4.2
Z5.1
Z6.1
Z7.1
Z8.1
Z1.2
Z10.1
Z10.2
Z2.1
Z2.2
Z5.2
Z6.2
Z7.2
Z8.2
Z9.1
Z9.2
Z1.1
Z3.1
Z3.2
Z4.1
Z4.2
Z5.1
Z6.1
Z7.1
Z8.1
Z1.2
Z10.1
Z10.2
Z2.1
Z2.2
Z5.2
Z6.2
Z7.2
Z8.2
Z9.1
Z9.2
Z1.1
Z3.1
Z3.2
Z4.1
Z4.2
Z5.1
Z6.1
Z7.1
Z8.1
Z1.2
Z10.1
Z10.2
Z2.1
Z2.2
Z5.2
Z6.2
Z7.2
Z8.2
Z9.1
Z9.2
Z1.1
Z3.1
Z3.2
Z4.1
Z4.2
Z5.1
Z6.1
Z7.1
Z8.1
Z1.2
Z10.1
Z10.2
Z2.1
Z2.2
Z5.2
Z6.2
Z7.2
Z8.2
Z9.1
Z9.2
Z1.1
Z3.1
Z3.2
Z4.1
Z4.2
Z5.1
Z6.1
Z7.1
Z8.1
Z9.1
Z1.2
Z10.1
Z10.2
Z2.1
Z2.2
Z5.2
Z6.2
Z7.2
Z8.2
Z9.2
Z1.1
Z3.1
Z3.2
Z4.1
Z4.2
Z5.1
Z6.1
Z7.1
Z8.1
Z9.1
Z1.2
Z10.1
Z10.2
Z2.1
Z2.2
Z5.2
Z6.2
Z7.2
Z8.2
Z9.2
Z1.1
Z3.1
Z3.2
Z4.1
Z4.2
Z5.1
Z6.1
Z7.1
Z8.1
Z9.1
Z1.2
Z10.1
Z10.2
Z2.1
Z2.2
Z5.2
Z6.2
Z7.2
Z8.2
Z9.2
Z1.1
Z3.1
Z3.2
Z4.1
Z4.2
Z5.1
Z6.1
Z7.1
Z8.1
Z9.1
Z1.2
Z10.1
Z10.2
Z2.1
Z2.2
Z5.2
Z6.2
Z7.2
Z8.2
Z9.2
Z1.1
Z3.1
Z3.2
Z4.1
Z4.2
Z5.1
Z6.1
Z7.1
Z8.1
Z9.1
Z1.2
Z10.1
Z10.2
Z2.1
Z2.2
Z5.2
Z6.2
Z7.2
Z8.2
Z9.2
Z1.1
Z3.1
Z3.2
Z4.1
Z4.2
Z5.1
Z6.1
Z7.1
Z8.1
Z1.2
Z10.1
Z10.2
Z2.1
Z2.2
Z5.2
Z6.2
Z7.2
Z8.2
Z9.1
Z9.2
Z1.1
Z3.1
Z3.2
Z4.1
Z4.2
Z5.1
Z6.1
Z7.1
Z8.1
Z1.2
Z10.1
Z10.2
Z2.1
Z2.2
Z5.2
Z6.2
Z7.2
Z8.2
Z9.1
Z9.2
Z1.1
Z3.1
Z3.2
Z4.1
Z4.2
Z5.1
Z6.1
Z7.1
Z8.1
Z1.2
Z10.1
Z10.2
Z2.1
Z2.2
Z5.2
Z6.2
Z7.2
Z8.2
Z9.1
Z9.2
Z1.1
Z3.1
Z3.2
Z4.1
Z4.2
Z5.1
Z6.1
Z7.1
Z8.1
Z1.2
Z10.1
Z10.2
Z2.1
Z2.2
Z5.2
Z6.2
Z7.2
Z8.2
Z9.1
Z9.2
Z1.1
Z3.1
Z3.2
Z4.1
Z4.2
Z5.1
Z6.1
Z7.1
Z8.1
Z1.2
Z10.1
Z10.2
Z2.1
Z2.2
Z5.2
Z6.2
Z7.2
Z8.2
Z9.1
Z9.2
Z1.1
Z3.1
Z3.2
Z4.1
Z4.2
Z5.1
Z6.1
Z7.1
Z8.1
Z1.2
Z10.1
Z10.2
Z2.1
Z2.2
Z5.2
Z6.2
Z7.2
Z8.2
Z9.1
Z9.2
Z1.1
Z3.1
Z3.2
Z4.1
Z4.2
Z5.1
Z6.1
Z7.1
Z8.1
Z9.1
Z1.2
Z10.1
Z10.2
Z2.1
Z2.2
Z5.2
Z6.2
Z7.2
Z8.2
Z9.2
Z1.1
Z3.1
Z3.2
Z4.1
Z4.2
Z5.1
Z6.1
Z7.1
Z8.1
Z9.1
Z1.2
Z10.1
Z10.2
Z2.1
Z2.2
Z5.2
Z6.2
Z7.2
Z8.2
Z9.2
Z1.1
Z3.1
Z3.2
Z4.1
Z4.2
Z5.1
Z6.1
Z7.1
Z8.1
Z9.1
Z1.2
Z10.1
Z10.2
Z2.1
Z2.2
Z5.2
Z6.2
Z7.2
Z8.2
Z9.2
Z1.1
Z3.1
Z3.2
Z4.1
Z4.2
Z5.1
Z6.1
Z7.1
Z8.1
Z9.1
Z1.2
Z10.1
Z10.2
Z2.1
Z2.2
Z5.2
Z6.2
Z7.2
Z8.2
Z9.2
Z1.1
Z3.1
Z3.2
Z4.1
Z4.2
Z5.1
Z6.1
Z7.1
Z8.1
Z9.1
Z1.2
Z10.1
Z10.2
Z2.1
Z2.2
Z5.2
Z6.2
Z7.2
Z8.2
Z9.2

/Users/jw/Documents/Neue_Fische_Bootcamp/capstone_project_hh_23_1/master_jw.py:215: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  ausgaben.iloc[:, 1:15] = ausgaben.iloc[:, 1:15].astype('Int64')
/Users/jw/Documents/Neue_Fische_Bootcamp/capstone_project_hh_23_1/master_jw.py:215: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  ausgaben.iloc[:, 1:15] = ausgaben.iloc[:, 1:15].astype('Int64')
/Users/jw/Documents/Neue_Fische_Bootcamp/capstone_project_hh_23_1/master_jw.py:215: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  ausgaben.iloc[:, 1:15] = ausgaben.iloc[:, 1:15].astype('Int64')
/Users/jw/Documents/Neue_Fische_Bootcamp/capstone_project_hh_23_1/master_jw.py:215: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  ausgaben.iloc[:, 1:15] = ausgaben.iloc[:, 1:15].astype('Int64')
/Users/jw/Documents/Neue_Fische_Bootcamp/capstone_project_hh_23_1/master_jw.py:215: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  ausgaben.iloc[:, 1:15] = ausgaben.iloc[:, 1:15].astype('Int64')
/Users/jw/Documents/Neue_Fische_Bootcamp/capstone_project_hh_23_1/master_jw.py:215: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  ausgaben.iloc[:, 1:15] = ausgaben.iloc[:, 1:15].astype('Int64')
/Users/jw/Documents/Neue_Fische_Bootcamp/capstone_project_hh_23_1/master_jw.py:215: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  ausgaben.iloc[:, 1:15] = ausgaben.iloc[:, 1:15].astype('Int64')
/Users/jw/Documents/Neue_Fische_Bootcamp/capstone_project_hh_23_1/master_jw.py:215: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  ausgaben.iloc[:, 1:15] = ausgaben.iloc[:, 1:15].astype('Int64')
/Users/jw/Documents/Neue_Fische_Bootcamp/capstone_project_hh_23_1/master_jw.py:215: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  ausgaben.iloc[:, 1:15] = ausgaben.iloc[:, 1:15].astype('Int64')

Z1.1
Z3.1
Z3.2
Z4.1
Z4.2
Z5.1
Z6.1
Z7.1
Z8.1
Z1.2
Z10.1
Z10.2
Z2.1
Z2.2
Z5.2
Z6.2
Z7.2
Z8.2
Z9.1
Z9.2
Z1.1
Z3.1
Z3.2
Z4.1
Z4.2
Z5.1
Z6.1
Z7.1
Z8.1
Z1.2
Z10.1
Z10.2
Z2.1
Z2.2
Z5.2
Z6.2
Z7.2
Z8.2
Z9.1
Z9.2
Z1.1
Z3.1
Z3.2
Z4.1
Z4.2
Z5.1
Z6.1
Z7.1
Z8.1
Z1.2
Z10.1
Z10.2
Z2.1
Z2.2
Z5.2
Z6.2
Z7.2
Z8.2
Z9.1
Z9.2
Z1.1
Z3.1
Z3.2
Z4.1
Z4.2
Z5.1
Z6.1
Z7.1
Z8.1
Z1.2
Z10.1
Z10.2
Z2.1
Z2.2
Z5.2
Z6.2
Z7.2
Z8.2
Z9.1
Z9.2
Z1.1
Z3.1
Z3.2
Z4.1
Z4.2
Z5.1
Z6.1
Z7.1
Z8.1
Z1.2
Z10.1
Z10.2
Z2.1
Z2.2
Z5.2
Z6.2
Z7.2
Z8.2
Z9.1
Z9.2
Z1.1
Z3.1
Z3.2
Z4.1
Z4.2
Z5.1
Z6.1
Z7.1
Z8.1
Z1.2
Z10.1
Z10.2
Z2.1
Z2.2
Z5.2
Z6.2
Z7.2
Z8.2
Z9.1
Z9.2
Z1.1
Z3.1
Z3.2
Z4.1
Z4.2
Z5.1
Z6.1
Z7.1
Z8.1
Z9.1
Z1.2
Z10.1
Z10.2
Z2.1
Z2.2
Z5.2
Z6.2
Z7.2
Z8.2
Z9.2
Z1.1
Z3.1
Z3.2
Z4.1
Z4.2
Z5.1
Z6.1
Z7.1
Z8.1
Z9.1
Z1.2
Z10.1
Z10.2
Z2.1
Z2.2
Z5.2
Z6.2
Z7.2
Z8.2
Z9.2
Z1.1
Z3.1
Z3.2
Z4.1
Z4.2
Z5.1
Z6.1
Z7.1
Z8.1
Z9.1
Z1.2
Z10.1
Z10.2
Z2.1
Z2.2
Z5.2
Z6.2
Z7.2
Z8.2
Z9.2
Z1.1
Z3.1
Z3.2
Z4.1
Z4.2
Z5.1
Z6.1
Z7.1
Z8.1
Z9.1
Z1.2
Z10.1
Z10.2
Z2.1
Z2.2
Z5.2
Z6.2
Z7.2
Z8.2
Z9.2
Z1.1
Z3.1
Z3.2
Z4.1
Z4.2
Z5.1
Z6.1
Z7.1
Z8.1
Z9.1
Z1.2
Z10.1
Z10.2
Z2.1
Z2.2
Z5.2
Z6.2
Z7.2
Z8.2
Z9.2
Z1.1
Z3.1
Z3.2
Z4.1
Z4.2
Z5.1
Z6.1
Z7.1
Z8.1
Z1.2
Z10.1
Z10.2
Z2.1
Z2.2
Z5.2
Z6.2
Z7.2
Z8.2
Z9.1
Z9.2
Z1.1
Z3.1
Z3.2
Z4.1
Z4.2
Z5.1
Z6.1
Z7.1
Z8.1
Z1.2
Z10.1
Z10.2
Z2.1
Z2.2
Z5.2
Z6.2
Z7.2
Z8.2
Z9.1
Z9.2
Z1.1
Z3.1
Z3.2
Z4.1
Z4.2
Z5.1
Z6.1
Z7.1
Z8.1
Z1.2
Z10.1
Z10.2
Z2.1
Z2.2
Z5.2
Z6.2
Z7.2
Z8.2
Z9.1
Z9.2
Z1.1
Z3.1
Z3.2
Z4.1
Z4.2
Z5.1
Z6.1
Z7.1
Z8.1
Z1.2
Z10.1
Z10.2
Z2.1
Z2.2
Z5.2
Z6.2
Z7.2
Z8.2
Z9.1
Z9.2
Z1.1
Z3.1
Z3.2
Z4.1
Z4.2
Z5.1
Z6.1
Z7.1
Z8.1
Z1.2
Z10.1
Z10.2
Z2.1
Z2.2
Z5.2
Z6.2
Z7.2
Z8.2
Z9.1
Z9.2
Z1.1
Z3.1
Z3.2
Z4.1
Z4.2
Z5.1
Z6.1
Z7.1
Z8.1
Z1.2
Z10.1
Z10.2
Z2.1
Z2.2
Z5.2
Z6.2
Z7.2
Z8.2
Z9.1
Z9.2
Z1.1
Z3.1
Z3.2
Z4.1
Z4.2
Z5.1
Z6.1
Z7.1
Z8.1
Z9.1
Z1.2
Z10.1
Z10.2
Z2.1
Z2.2
Z5.2
Z6.2
Z7.2
Z8.2
Z9.2
Z1.1
Z3.1
Z3.2
Z4.1
Z4.2
Z5.1
Z6.1
Z7.1
Z8.1
Z9.1
Z1.2
Z10.1
Z10.2
Z2.1
Z2.2
Z5.2
Z6.2
Z7.2
Z8.2
Z9.2
Z1.1
Z3.1
Z3.2
Z4.1
Z4.2
Z5.1
Z6.1
Z7.1
Z8.1
Z9.1
Z1.2
Z10.1
Z10.2
Z2.1
Z2.2
Z5.2
Z6.2
Z7.2
Z8.2
Z9.2
Z1.1
Z3.1
Z3.2
Z4.1
Z4.2
Z5.1
Z6.1
Z7.1
Z8.1
Z9.1
Z1.2
Z10.1
Z10.2
Z2.1
Z2.2
Z5.2
Z6.2
Z7.2
Z8.2
Z9.2
Z1.1
Z3.1
Z3.2
Z4.1
Z4.2
Z5.1
Z6.1
Z7.1
Z8.1
Z9.1
Z1.2
Z10.1
Z10.2
Z2.1
Z2.2
Z5.2
Z6.2
Z7.2
Z8.2
Z9.2

## 2011

In [2]:
preschool_2011.iloc[5:8]

,Bildungsbereich/Schulart,Baden-Wüttemberg,Bayern,Berlin,Brandenburg,Bremen,Hamburg,Hessen,Mecklenburg-Vorpommern,Niedersachsen,Nordrhein-Westfalen,Rheinland-Pfalz,Saarland,Sachsen,Sachsen-Anhalt,Schleswig-Holstein,Thüringen,Deutschland,Year
5,Vorschulbereich,8.669706,0,0,0,0,17.767773,14.034091,0,10.556962,6.904412,11.27907,9.212121,0,0,0,0,11.234779,2011
6,NaN,0,0,0,0,0,17.767773,19.683761,0,0,0,0,0,0,0,0,0,18.183673,2011
7,NaN,8.669706,0,0,0,0,0,11.987616,0,10.556962,6.904412,11.27907,9.212121,0,0,0,0,9.337386,2011

In [18]:
# Laden der Daten
schnitt_2011 = pd.read_csv('/Users/jw/Documents/Neue_Fische_Bootcamp/capstone_project_hh_23_1/data/Converted to CSV/Aus_Abiturnoten_2011/Noten-Table 1.csv', encoding='latin-1', delimiter=';')

# Auswählen von Daten
data = schnitt_2011.iloc[4:5]

# Replace commas with dots in selected rows
data.replace(',', '.', regex=True, inplace=True)

data

/var/folders/q3/4gwgn03514d3vddp37btldgh0000gn/T/ipykernel_21099/1591317310.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.replace(',', '.', regex=True, inplace=True)

,Land,BW,BY,BE,BB,HB,HH,HE,MV,NI,NW,RP,SL,SN,ST,SH,TH
4,Notenmittel,2.44,2.37,2.45,2.38,2.47,2.49,2.43,2.42,2.59,2.54,2.60,2.44,2.43,2.48,2.52,2.20

In [23]:
data.plot(x='X', y='Y', kind='line', title='Titel des Diagramms')

KeyError: 'X'

In [20]:
# Laden der Daten
schnitt_2011 = pd.read_csv('/Users/jw/Documents/Neue_Fische_Bootcamp/capstone_project_hh_23_1/data/Converted to CSV/Aus_Abiturnoten_2011/Noten-Table 1.csv', encoding='latin-1', delimiter=';')

# Auswählen von Daten
data = schnitt_2011.iloc[4:5]

# Erstellen des lineplots
sns.lineplot(data=data, x='Land', y= 'Notenmittel')

# Anzeigen des Plots
sns.plt.show()

ValueError: Could not interpret value `Notenmittel` for parameter `y`

In [2]:
abschluss_2011.iloc[0:10]

,SchoolType,Baden-Wüttemberg,Bayern,Berlin,Brandenburg,Bremen,Hamburg,Hessen,Mecklenburg-Vorpommern,Niedersachsen,Nordrhein-Westfalen,Rheinland-Pfalz,Saarland,Sachsen,Sachsen-Anhalt,Schleswig-Holstein,Thüringen,Deutschland,Year
0,Absolventen/Abgänger der allgemein bildenden S...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011
1,Insgesamt,121645.0,168713.0,28260.0,16419.0,7605.0,14134.0,64629.0,9452.0,102741.0,208987.0,43878.0,9627.0,22417.0,14058.0,29430.0,13259.0,875254.0,2011
2,Abgänger nach Beendigung der Vollzeitschulpfli...,5922.0,6983.0,2487.0,1411.0,482.0,1020.0,3370.0,1345.0,5085.0,11114.0,2469.0,487.0,2259.0,1738.0,2143.0,1157.0,49472.0,2011
3,NaN,3497.0,3253.0,624.0,925.0,181.0,531.0,1670.0,976.0,2510.0,5337.0,1406.0,196.0,1491.0,1137.0,987.0,563.0,25284.0,2011
4,NaN,320.0,616.0,91.0,14.0,115.0,73.0,272.0,50.0,332.0,943.0,48.0,77.0,53.0,82.0,90.0,171.0,3347.0,2011
5,Absolventen nach Beendigung der Vollzeitschulp...,30812.0,33346.0,5355.0,2764.0,1537.0,2186.0,12016.0,1043.0,12695.0,36354.0,8820.0,2583.0,2410.0,1910.0,7453.0,2000.0,163284.0,2011
6,Absolventen mit mittlerem Abschluss und entspr...,49227.0,59526.0,8603.0,5555.0,2737.0,3177.0,27014.0,3678.0,41338.0,81977.0,18042.0,3362.0,11079.0,6120.0,10815.0,5821.0,338071.0,2011
7,Absolventen mit Hochschul- und Fachhochschulreife,35684.0,68858.0,11815.0,6689.0,2849.0,7751.0,22229.0,3386.0,43623.0,79542.0,14547.0,3195.0,6669.0,4290.0,9019.0,4281.0,324427.0,2011
8,NaN,310.0,12.0,0.0,0.0,0.0,460.0,1953.0,294.0,1547.0,7129.0,785.0,109.0,0.0,366.0,651.0,0.0,13616.0,2011
9,NaN,35374.0,68846.0,11815.0,6689.0,2849.0,7291.0,20276.0,3092.0,42076.0,72413.0,13762.0,3086.0,6669.0,3924.0,8368.0,4281.0,310811.0,2011

## 2012

In [5]:
preschool_2012.iloc[5:8]

,Bildungsbereich/Schulart,Baden-Wüttemberg,Bayern,Berlin,Brandenburg,Bremen,Hamburg,Hessen,Mecklenburg-Vorpommern,Niedersachsen,Nordrhein-Westfalen,Rheinland-Pfalz,Saarland,Sachsen,Sachsen-Anhalt,Schleswig-Holstein,Thüringen,Deutschland,Year
5,Vorschulbereich,8.599589,0,0,0,3,17.7806,13.885393,0,10.927393,6.647727,11.30303,10,0,0,0,0,11.281263,2012
6,NaN,0,0,0,0,3,17.7806,20.4,0,0,0,0,0,0,0,0,0,18.302368,2012
7,NaN,8.599589,0,0,0,0,0,11.615152,0,10.927393,6.647727,11.30303,10,0,0,0,0,9.275754,2012

In [6]:
abschluss_2012.iloc[:10]

,Bildungsbereich/Schulart,Baden-Wüttemberg,Bayern,Berlin,Brandenburg,Bremen,Hamburg,Hessen,Mecklenburg-Vorpommern,Niedersachsen,Nordrhein-Westfalen,Rheinland-Pfalz,Saarland,Sachsen,Sachsen-Anhalt,Schleswig-Holstein,Thüringen,Deutschland,Year
0,Absolventen/Abgänger der allgemein bildenden S...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012
1,Insgesamt,139828.0,136489.0,34089.0,20261.0,8507.0,14625.0,65202.0,9803.0,87416.0,211433.0,43899.0,9826.0,23267.0,14452.0,28764.0,13485.0,861346.0,2012
2,Abgänger nach Beendigung der Vollzeitschulpfli...,5951.0,6459.0,2339.0,1439.0,412.0,993.0,3351.0,1266.0,4773.0,10627.0,2353.0,527.0,2288.0,1668.0,2114.0,1024.0,47584.0,2012
3,NaN,3477.0,2691.0,570.0,953.0,91.0,522.0,1672.0,936.0,2292.0,5121.0,1332.0,235.0,1526.0,1068.0,900.0,492.0,23878.0,2012
4,NaN,326.0,552.0,55.0,13.0,108.0,75.0,228.0,34.0,340.0,869.0,64.0,70.0,46.0,87.0,62.0,85.0,3014.0,2012
5,Absolventen nach Beendigung der Vollzeitschulp...,23304.0,33398.0,5402.0,2474.0,1513.0,2369.0,11589.0,1157.0,12870.0,34831.0,8442.0,2644.0,2425.0,1756.0,6807.0,1854.0,152835.0,2012
6,Absolventen mit mittlerem Abschluss und entspr...,50655.0,59889.0,9247.0,6796.0,2694.0,3532.0,28217.0,4048.0,43118.0,87776.0,19163.0,3527.0,11783.0,6949.0,11228.0,6140.0,354762.0,2012
7,Absolventen mit Hochschul- und Fachhochschulreife,59918.0,36743.0,17101.0,9552.0,3888.0,7731.0,22045.0,3332.0,26655.0,78199.0,13941.0,3128.0,6771.0,4079.0,8615.0,4467.0,306165.0,2012
8,NaN,380.0,13.0,0.0,41.0,0.0,52.0,394.0,0.0,0.0,520.0,0.0,0.0,0.0,0.0,0.0,0.0,1400.0,2012
9,NaN,59538.0,36730.0,17101.0,9511.0,3888.0,7679.0,21651.0,3332.0,26655.0,77679.0,13941.0,3128.0,6771.0,4079.0,8615.0,4467.0,304765.0,2012

## 2013

In [7]:
preschool_2013.iloc[5:8]

,Bildungsbereich/Schulart,Baden-Wüttemberg,Bayern,Berlin,Brandenburg,Bremen,Hamburg,Hessen,Mecklenburg-Vorpommern,Niedersachsen,Nordrhein-Westfalen,Rheinland-Pfalz,Saarland,Sachsen,Sachsen-Anhalt,Schleswig-Holstein,Thüringen,Deutschland,Year
5,Vorschulbereich,8.438596,0,0,0,7,18.323725,14.023364,0,10.265233,7.162162,12.192308,10.15,0,0,0,0,11.3788,2013
6,NaN,0,0,0,0,7,18.323725,20.548673,0,0,0,0,0,0,0,0,0,18.727915,2013
7,NaN,8.438596,0,0,0,0,0,11.68254,0,10.265233,7.162162,12.192308,10.15,0,0,0,0,9.152034,2013

In [8]:
abschluss_2013.iloc[:10]

,Bildungsbereich/Schulart,Baden-Wüttemberg,Bayern,Berlin,Brandenburg,Bremen,Hamburg,Hessen,Mecklenburg-Vorpommern,Niedersachsen,Nordrhein-Westfalen,Rheinland-Pfalz,Saarland,Sachsen,Sachsen-Anhalt,Schleswig-Holstein,Thüringen,Deutschland,Year
0,Absolventen/Abgänger der allgemein bildenden S...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013
1,Insgesamt,120845.0,135994.0,29211.0,17944.0,7373.0,13874.0,73096.0,10366.0,86460.0,255240.0,44272.0,9994.0,25653.0,14122.0,29544.0,14781.0,888769.0,2013
2,Abgänger nach Beendigung der Vollzeitschulpfli...,5517.0,5992.0,2115.0,1432.0,449.0,697.0,3029.0,1155.0,4372.0,11190.0,2346.0,509.0,2599.0,1479.0,2237.0,1177.0,46295.0,2013
3,NaN,3280.0,2623.0,582.0,967.0,108.0,375.0,1482.0,762.0,2231.0,5123.0,1147.0,200.0,1802.0,929.0,899.0,475.0,22985.0,2013
4,NaN,324.0,455.0,62.0,11.0,102.0,78.0,259.0,52.0,321.0,944.0,261.0,96.0,49.0,80.0,47.0,90.0,3231.0,2013
5,Absolventen nach Beendigung der Vollzeitschulp...,23952.0,30359.0,5100.0,2645.0,1493.0,1425.0,10899.0,1179.0,12132.0,34448.0,8284.0,2555.0,2630.0,1304.0,6245.0,2209.0,146859.0,2013
6,Absolventen mit mittlerem Abschluss und entspr...,57262.0,61984.0,9825.0,7152.0,2659.0,3625.0,30423.0,4704.0,44168.0,91607.0,19256.0,3782.0,13077.0,7449.0,11936.0,6890.0,375799.0,2013
7,Absolventen mit Hochschul- und Fachhochschulreife,34114.0,37659.0,12171.0,6715.0,2772.0,8127.0,28745.0,3328.0,25788.0,117995.0,14386.0,3148.0,7347.0,3890.0,9126.0,4505.0,319816.0,2013
8,NaN,306.0,6.0,0.0,0.0,0.0,61.0,445.0,0.0,0.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,918.0,2013
9,NaN,33808.0,37653.0,12171.0,6715.0,2772.0,8066.0,28300.0,3328.0,25788.0,117895.0,14386.0,3148.0,7347.0,3890.0,9126.0,4505.0,318898.0,2013

In [9]:
preschool_2014.iloc[5:8]

,Bildungsbereich/Schulart,Baden-Wüttemberg,Bayern,Berlin,Brandenburg,Bremen,Hamburg,Hessen,Mecklenburg-Vorpommern,Niedersachsen,Nordrhein-Westfalen,Rheinland-Pfalz,Saarland,Sachsen,Sachsen-Anhalt,Schleswig-Holstein,Thüringen,Deutschland,Year
5,Vorschulbereich,8.338525,0,0,0,17,18.374429,13.952719,0,10.380769,8.061321,11.4,11,0,0,0,0,11.492903,2014
6,NaN,0,0,0,0,17,18.374429,20.553571,0,0,0,0,0,0,0,0,0,18.814882,2014
7,NaN,8.338525,0,0,0,0,0,11.575563,0,10.380769,8.061321,11.4,11,0,0,0,0,9.218715,2014

In [10]:
abschluss_2014.iloc[:10]

,Bildungsbereich/Schulart,Baden-Wüttemberg,Bayern,Berlin,Brandenburg,Bremen,Hamburg,Hessen,Mecklenburg-Vorpommern,Niedersachsen,Nordrhein-Westfalen,Rheinland-Pfalz,Saarland,Sachsen,Sachsen-Anhalt,Schleswig-Holstein,Thüringen,Deutschland,Year
0,Absolventen/Abgänger der allgemein bildenden S...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014
1,Insgesamt,119403.0,135387.0,28913.0,18155.0,7286.0,15379.0,69062.0,10896.0,87284.0,211072.0,43020.0,9576.0,27459.0,15211.0,29821.0,15839.0,843763.0,2014
2,Abgänger nach Beendigung der Vollzeitschulpfli...,5868.0,5892.0,2430.0,1462.0,448.0,755.0,3031.0,961.0,4245.0,11692.0,2357.0,463.0,2348.0,1528.0,2323.0,1118.0,46921.0,2014
3,NaN,2890.0,2524.0,608.0,972.0,58.0,0.0,1521.0,536.0,2115.0,5155.0,1050.0,201.0,1463.0,927.0,825.0,415.0,21260.0,2014
4,NaN,792.0,321.0,58.0,3.0,108.0,414.0,256.0,33.0,315.0,1328.0,325.0,70.0,46.0,75.0,53.0,80.0,4277.0,2014
5,Absolventen nach Beendigung der Vollzeitschulp...,22673.0,29473.0,4338.0,2616.0,1400.0,2396.0,10435.0,1331.0,12027.0,32834.0,8001.0,2448.0,2768.0,1486.0,5687.0,2256.0,142169.0,2014
6,Absolventen mit mittlerem Abschluss und entspr...,57043.0,62452.0,9860.0,7541.0,2654.0,3705.0,29416.0,4926.0,44288.0,87370.0,19038.0,3442.0,14150.0,7943.0,12461.0,7488.0,373777.0,2014
7,Absolventen mit Hochschul- und Fachhochschulreife,33819.0,37570.0,12285.0,6536.0,2784.0,8523.0,26180.0,3678.0,26724.0,79176.0,13624.0,3223.0,8193.0,4254.0,9350.0,4977.0,280896.0,2014
8,NaN,288.0,5.0,0.0,42.0,0.0,64.0,300.0,0.0,0.0,35.0,0.0,0.0,0.0,0.0,0.0,0.0,734.0,2014
9,NaN,33531.0,37565.0,12285.0,6494.0,2784.0,8459.0,25880.0,3678.0,26724.0,79141.0,13624.0,3223.0,8193.0,4254.0,9350.0,4977.0,280162.0,2014

In [11]:
preschool_2015.iloc[5:8]

,Bildungsbereich/Schulart,Baden-Wüttemberg,Bayern,Berlin,Brandenburg,Bremen,Hamburg,Hessen,Mecklenburg-Vorpommern,Niedersachsen,Nordrhein-Westfalen,Rheinland-Pfalz,Saarland,Sachsen,Sachsen-Anhalt,Schleswig-Holstein,Thüringen,Deutschland,Year
5,Vorschulbereich,8.399791,0,0,0,18,19.155251,14.038647,0,10.519841,8.0131,11.25,6.2,0,0,0,0,11.657588,2015
6,NaN,0,0,0,0,18,19.155251,21.211009,0,0,0,0,0,0,0,0,0,19.562044,2015
7,NaN,8.399791,0,0,0,0,0,11.47541,0,10.519841,8.0131,11.25,6.2,0,0,0,0,9.203399,2015

In [12]:
abschluss_2015.iloc[:10]

,Bildungsbereich/Schulart,Baden-Wüttemberg,Bayern,Berlin,Brandenburg,Bremen,Hamburg,Hessen,Mecklenburg-Vorpommern,Niedersachsen,Nordrhein-Westfalen,Rheinland-Pfalz,Saarland,Sachsen,Sachsen-Anhalt,Schleswig-Holstein,Thüringen,Deutschland,Year
0,Absolventen/Abgänger der allgemeinbildenden Sc...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015
1,Insgesamt,120546.0,135448.0,30088.0,20754.0,7386.0,16386.0,61555.0,11826.0,85828.0,207106.0,42505.0,9341.0,28463.0,16396.0,29689.0,16485.0,839802.0,2015
2,Abgänger nach Beendigung der Vollzeitschulpfli...,5768.0,6259.0,3009.0,1556.0,447.0,897.0,2542.0,1000.0,4339.0,11054.0,2606.0,442.0,2354.0,1735.0,2234.0,1197.0,47439.0,2015
3,NaN,2771.0,2503.0,699.0,925.0,71.0,78.0,1433.0,598.0,2202.0,5417.0,1573.0,183.0,1480.0,1029.0,741.0,435.0,22138.0,2015
4,NaN,803.0,405.0,60.0,5.0,87.0,372.0,239.0,33.0,327.0,1354.0,0.0,78.0,45.0,71.0,37.0,88.0,4004.0,2015
5,Absolventen nach Beendigung der Vollzeitschulp...,22205.0,28422.0,4302.0,2757.0,1297.0,2703.0,9057.0,1527.0,11120.0,30638.0,7733.0,2276.0,2497.0,1541.0,5300.0,2288.0,135663.0,2015
6,Absolventen mit mittlerem Abschluss und entspr...,57100.0,61983.0,10051.0,8924.0,2709.0,3750.0,27642.0,5051.0,42477.0,85485.0,17965.0,3144.0,14305.0,8227.0,12182.0,7437.0,368432.0,2015
7,Absolventen mit Hochschul- und Fachhochschulreife,35473.0,38784.0,12726.0,7517.0,2933.0,9036.0,22314.0,4248.0,27892.0,79929.0,14201.0,3479.0,9307.0,4893.0,9973.0,5563.0,288268.0,2015
8,NaN,345.0,7.0,0.0,15.0,0.0,0.0,314.0,0.0,0.0,40.0,0.0,0.0,0.0,0.0,0.0,0.0,721.0,2015
9,NaN,35128.0,38777.0,12726.0,7502.0,2933.0,9036.0,22000.0,4248.0,27892.0,79889.0,14201.0,3479.0,9307.0,4893.0,9973.0,5563.0,287547.0,2015

In [30]:
preschool_2016.iloc[6:9]

,Schulstufe/Schulart,Baden-Wüttemberg,Bayern,Berlin,Brandenburg,Bremen,Hamburg,Hessen,Mecklenburg-Vorpommern,Niedersachsen,Nordrhein-Westfalen,Rheinland-Pfalz,Saarland,Sachsen,Sachsen-Anhalt,Schleswig-Holstein,Thüringen,Deutschland,Year
6,Vorschulbereich,8.403746,0,0,0,17,19.529148,14.198565,0,11.203252,8.137931,11.384615,12.4,0,0,0,0,11.88286,2016
7,NaN,0,0,0,0,17,19.529148,19.848739,0,0,0,0,0,0,0,0,0,19.591873,2016
8,NaN,8.403746,0,0,0,0,0,11.949833,0,11.203252,8.137931,11.384615,12.4,0,0,0,0,9.398064,2016

In [14]:
abschluss_2016.iloc[:10]

,Schulart,Baden-Wüttemberg,Bayern,Berlin,Brandenburg,Bremen,Hamburg,Hessen,Mecklenburg-Vorpommern,Niedersachsen,Nordrhein-Westfalen,Rheinland-Pfalz,Saarland,Sachsen,Sachsen-Anhalt,Schleswig-Holstein,Thüringen,Deutschland,Year
0,Absolventen/Abgänger der allgemeinbildenden Sc...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
1,Insgesamt,118906.0,139060.0,29702.0,20879.0,6991.0,16714.0,63121.0,12446.0,84155.0,203053.0,42653.0,9458.0,30147.0,17198.0,36792.0,17074.0,848349.0,2016
2,Abgänger nach Beendigung der Vollzeitschulpfli...,6125.0,7033.0,2490.0,1523.0,437.0,992.0,3180.0,1175.0,4291.0,10805.0,2525.0,662.0,2533.0,1663.0,2436.0,1286.0,49156.0,2016
3,NaN,2739.0,2506.0,575.0,880.0,49.0,310.0,1673.0,621.0,1913.0,4678.0,1137.0,210.0,1622.0,920.0,698.0,412.0,20943.0,2016
4,NaN,900.0,360.0,81.0,0.0,71.0,99.0,236.0,68.0,386.0,1304.0,245.0,83.0,37.0,80.0,49.0,92.0,4091.0,2016
5,Absolventen nach Beendigung der Vollzeitschulp...,21858.0,28002.0,3904.0,2837.0,1260.0,2542.0,10454.0,1617.0,11333.0,29768.0,7648.0,2193.0,2460.0,1720.0,5338.0,2447.0,135381.0,2016
6,Absolventen mit mittlerem Abschluss und entspr...,55930.0,65039.0,9437.0,8613.0,2463.0,3851.0,28237.0,5175.0,40977.0,82831.0,16786.0,3300.0,15552.0,8669.0,12105.0,7424.0,366389.0,2016
7,Absolventen mit Hochschul- und Fachhochschulreife,34993.0,38986.0,13871.0,7906.0,2831.0,9329.0,21250.0,4479.0,27554.0,79649.0,15694.0,3303.0,9602.0,5146.0,16913.0,5917.0,297423.0,2016
8,NaN,362.0,4.0,0.0,32.0,0.0,0.0,291.0,0.0,0.0,89.0,0.0,0.0,0.0,0.0,0.0,0.0,778.0,2016
9,NaN,34631.0,38982.0,13871.0,7874.0,2831.0,9329.0,20959.0,4479.0,27554.0,79560.0,15694.0,3303.0,9602.0,5146.0,16913.0,5917.0,296645.0,2016

In [29]:
preschool_2017.iloc[6:9]

,Schulstufe/Schulart,Baden-Wüttemberg,Bayern,Berlin,Brandenburg,Bremen,Hamburg,Hessen,Mecklenburg-Vorpommern,Niedersachsen,Nordrhein-Westfalen,Rheinland-Pfalz,Saarland,Sachsen,Sachsen-Anhalt,Schleswig-Holstein,Thüringen,Deutschland,Year
6,Vorschulbereich,8.560417,0,0,0,18,19.543046,14.461905,0,11.376984,8.016327,12,23,0,0,0,0,12.018755,2017
7,NaN,0,0,0,0,18,19.543046,19.01626,0,0,0,0,0,0,0,0,0,19.428076,2017
8,NaN,8.560417,0,0,0,0,0,12.575758,0,11.376984,8.016327,12,23,0,0,0,0,9.602035,2017

In [16]:
abschluss_2017.iloc[:10]

,Schulart,Baden-Wüttemberg,Bayern,Berlin,Brandenburg,Bremen,Hamburg,Hessen,Mecklenburg-Vorpommern,Niedersachsen,Nordrhein-Westfalen,Rheinland-Pfalz,Saarland,Sachsen,Sachsen-Anhalt,Schleswig-Holstein,Thüringen,Deutschland,Year
0,Absolventen/Abgänger der allgemeinbildenden Sc...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017
1,Insgesamt,113034.0,135896.0,31197.0,21283.0,7108.0,16926.0,60616.0,12737.0,82433.0,197235.0,41488.0,9126.0,31029.0,17181.0,29986.0,17404.0,824679.0,2017
2,Abgänger nach Beendigung der Vollzeitschulpfli...,7439.0,7496.0,2983.0,1564.0,575.0,896.0,3095.0,1133.0,4830.0,11149.0,2785.0,610.0,2566.0,1749.0,2293.0,1519.0,52682.0,2017
3,NaN,2816.0,2642.0,610.0,901.0,22.0,212.0,1504.0,560.0,1811.0,4287.0,1232.0,175.0,1484.0,863.0,561.0,391.0,20071.0,2017
4,NaN,874.0,329.0,81.0,4.0,51.0,96.0,202.0,49.0,312.0,1360.0,263.0,68.0,68.0,57.0,42.0,83.0,3939.0,2017
5,Absolventen nach Beendigung der Vollzeitschulp...,17653.0,26859.0,3925.0,2749.0,1415.0,3128.0,9971.0,1690.0,11686.0,29155.0,7824.0,2362.0,2683.0,1586.0,5105.0,2512.0,130303.0,2017
6,Absolventen mit mittlerem Abschluss und entspr...,53634.0,62470.0,9417.0,8028.0,2526.0,3959.0,26662.0,5332.0,39183.0,80853.0,15855.0,3072.0,15464.0,8690.0,11496.0,7635.0,354276.0,2017
7,Absolventen mit Hochschul- und Fachhochschulreife,34308.0,39071.0,14872.0,8942.0,2592.0,8943.0,20888.0,4582.0,26734.0,76078.0,15024.0,3082.0,10316.0,5156.0,11092.0,5738.0,287418.0,2017
8,NaN,355.0,0.0,0.0,0.0,0.0,0.0,233.0,0.0,0.0,40.0,0.0,0.0,0.0,0.0,0.0,0.0,628.0,2017
9,NaN,33953.0,39071.0,14872.0,8942.0,2592.0,8943.0,20655.0,4582.0,26734.0,76038.0,15024.0,3082.0,10316.0,5156.0,11092.0,5738.0,286790.0,2017

## 2017

In [28]:
preschool_2018.iloc[6:9]

,Schulstufe/Schulart,Baden-Wüttemberg,Bayern,Berlin,Brandenburg,Bremen,Hamburg,Hessen,Mecklenburg-Vorpommern,Niedersachsen,Nordrhein-Westfalen,Rheinland-Pfalz,Saarland,Sachsen,Sachsen-Anhalt,Schleswig-Holstein,Thüringen,Deutschland,Year
6,Vorschulbereich,8.523316,0,0,0,16,19.471698,12.480645,0,11.317269,8.094262,11.222222,24.5,0,0,0,0,11.670802,2018
7,NaN,0,0,0,0,16,19.471698,0,0,0,0,0,0,0,0,0,0,19.464435,2018
8,NaN,8.523316,0,0,0,0,0,12.480645,0,11.317269,8.094262,11.222222,24.5,0,0,0,0,9.576728,2018

In [18]:
abschluss_2018.iloc[:10]

,Schulart,Baden-Wüttemberg,Bayern,Berlin,Brandenburg,Bremen,Hamburg,Hessen,Mecklenburg-Vorpommern,Niedersachsen,Nordrhein-Westfalen,Rheinland-Pfalz,Saarland,Sachsen,Sachsen-Anhalt,Schleswig-Holstein,Thüringen,Deutschland,Year
0,Absolventen/Abgänger der allgemeinbildenden Sc...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
1,Insgesamt,108343.0,132545.0,29640.0,21648.0,6682.0,16957.0,60234.0,13395.0,81064.0,189198.0,41117.0,9169.0,30272.0,17679.0,28842.0,17454.0,804239.0,2018
2,Abgänger nach Beendigung der Vollzeitschulpfli...,6951.0,7414.0,2955.0,1628.0,564.0,1090.0,3011.0,1194.0,5093.0,11522.0,2811.0,656.0,2637.0,2004.0,2453.0,1620.0,53603.0,2018
3,NaN,3087.0,2870.0,558.0,869.0,28.0,252.0,1299.0,536.0,1618.0,3957.0,1160.0,184.0,1543.0,936.0,567.0,451.0,19915.0,2018
4,NaN,542.0,293.0,102.0,16.0,30.0,135.0,257.0,62.0,342.0,1513.0,260.0,63.0,24.0,81.0,37.0,93.0,3850.0,2018
5,Absolventen nach Beendigung der Vollzeitschulp...,17493.0,26658.0,3926.0,2775.0,1312.0,3050.0,10087.0,1757.0,11516.0,28287.0,7216.0,2515.0,2607.0,1677.0,5107.0,2585.0,128568.0,2018
6,Absolventen mit mittlerem Abschluss und entspr...,50440.0,60047.0,9021.0,8390.0,2328.0,3872.0,26356.0,5574.0,37932.0,74356.0,16306.0,2768.0,14925.0,8508.0,11072.0,7560.0,339455.0,2018
7,Absolventen mit Hochschul- und Fachhochschulreife,33459.0,38426.0,13738.0,8855.0,2478.0,8945.0,20780.0,4870.0,26523.0,75033.0,14784.0,3230.0,10103.0,5490.0,10210.0,5689.0,282613.0,2018
8,NaN,350.0,0.0,0.0,24.0,0.0,0.0,246.0,0.0,0.0,32.0,0.0,0.0,0.0,0.0,0.0,0.0,652.0,2018
9,NaN,33109.0,38426.0,13738.0,8831.0,2478.0,8945.0,20534.0,4870.0,26523.0,75001.0,14784.0,3230.0,10103.0,5490.0,10210.0,5689.0,281961.0,2018

## 2019

In [27]:
preschool_2019.iloc[6:9]

,Schulstufe/Schulart,Baden-Wüttemberg,Bayern,Berlin,Brandenburg,Bremen,Hamburg,Hessen,Mecklenburg-Vorpommern,Niedersachsen,Nordrhein-Westfalen,Rheinland-Pfalz,Saarland,Sachsen,Sachsen-Anhalt,Schleswig-Holstein,Thüringen,Deutschland,Year
6,Vorschulbereich,8.579545,0,0,0,18,19.346774,12.428571,0,10.833333,8.341772,10.857143,16.666667,0,0,0,0,11.703476,2019
7,NaN,0,0,0,0,18,19.346774,0,0,0,0,0,0,0,0,0,0,19.344064,2019
8,NaN,8.579545,0,0,0,0,0,12.428571,0,10.833333,8.341772,10.857143,16.666667,0,0,0,0,9.565315,2019

In [20]:
abschluss_2019.iloc[:10]

,Schulart,Baden-Wüttemberg,Bayern,Berlin,Brandenburg,Bremen,Hamburg,Hessen,Mecklenburg-Vorpommern,Niedersachsen,Nordrhein-Westfalen,Rheinland-Pfalz,Saarland,Sachsen,Sachsen-Anhalt,Schleswig-Holstein,Thüringen,Deutschland,Year
0,Absolventen/-innen und Abgänger/-innen der all...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019
1,Insgesamt,106380.0,128648.0,30190.0,21092.0,6558.0,16247.0,58426.0,13247.0,80172.0,189155.0,39613.0,8758.0,31304.0,17718.0,29117.0,18199.0,794824.0,2019
2,Abgänger/-innen nach Beendigung der Vollzeitsc...,6281.0,6974.0,2699.0,1579.0,607.0,978.0,3044.0,1225.0,5424.0,11422.0,2958.0,637.0,2708.0,1998.0,2673.0,1627.0,52834.0,2019
3,NaN,2658.0,2670.0,444.0,848.0,7.0,248.0,1382.0,563.0,1423.0,3866.0,1182.0,184.0,1502.0,828.0,604.0,0.0,18409.0,2019
4,NaN,920.0,320.0,83.0,3.0,29.0,127.0,162.0,50.0,370.0,1519.0,227.0,66.0,62.0,84.0,45.0,505.0,4572.0,2019
5,Absolventen/-innen nach Beendigung der Vollzei...,17091.0,25997.0,4374.0,2838.0,1366.0,2893.0,9414.0,1707.0,11205.0,30250.0,6822.0,2335.0,2812.0,1827.0,5120.0,2612.0,128663.0,2019
6,Absolventen/-innen mit mittlerem Abschluss und...,50767.0,58742.0,9701.0,8203.0,2229.0,3624.0,26901.0,5608.0,36463.0,72915.0,15101.0,2770.0,15390.0,8649.0,10813.0,8003.0,335879.0,2019
7,Absolventen/-innen mit Hochschul- und Fachhoch...,32241.0,36935.0,13416.0,8472.0,2356.0,8752.0,19067.0,4707.0,27080.0,74568.0,14732.0,3016.0,10394.0,5244.0,10511.0,5957.0,277448.0,2019
8,NaN,388.0,0.0,0.0,0.0,0.0,0.0,186.0,0.0,0.0,47.0,0.0,0.0,0.0,0.0,0.0,0.0,621.0,2019
9,NaN,31853.0,36935.0,13416.0,8472.0,2356.0,8752.0,18881.0,4707.0,27080.0,74521.0,14732.0,3016.0,10394.0,5244.0,10511.0,5957.0,276827.0,2019

## 2020

In [26]:
preschool_2020.iloc[6:9]

,Schulstufe/Schulart,Baden-Wüttemberg,Bayern,Berlin,Brandenburg,Bremen,Hamburg,Hessen,Mecklenburg-Vorpommern,Niedersachsen,Nordrhein-Westfalen,Rheinland-Pfalz,Saarland,Sachsen,Sachsen-Anhalt,Schleswig-Holstein,Thüringen,Deutschland,Year
6,Vorschulbereich,8.138831,0,0,0,18,19.307087,12.015674,0,10.711297,8.466102,10,15.666667,0,0,0,0,11.506385,2020
7,NaN,0,0,0,0,18,19.307087,0,0,0,0,0,0,0,0,0,0,19.304519,2020
8,NaN,8.138831,0,0,0,0,0,12.015674,0,10.711297,8.466102,10,15.666667,0,0,0,0,9.253689,2020

In [22]:
abschluss_2020.iloc[:10]

,Schulart,Baden-Wüttemberg,Bayern,Berlin,Brandenburg,Bremen,Hamburg,Hessen,Mecklenburg-Vorpommern,Niedersachsen,Nordrhein-Westfalen,Rheinland-Pfalz,Saarland,Sachsen,Sachsen-Anhalt,Schleswig-Holstein,Thüringen,Deutschland,Year
0,Absolvierende und Abgehende der allgemeinbilde...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020
1,Insgesamt,103660.0,119688.0,29455.0,20644.0,6516.0,16505.0,57969.0,12707.0,57318.0,179793.0,37325.0,8664.0,31138.0,17613.0,27586.0,17423.0,744004.0,2020
2,Abgehende nach Beendigung der Vollzeitschulpfl...,5612.0,5964.0,2037.0,1134.0,593.0,1119.0,2555.0,919.0,4612.0,9709.0,2460.0,546.0,2455.0,1770.0,2283.0,1302.0,45070.0,2020
3,NaN,2807.0,2528.0,403.0,802.0,0.0,260.0,1293.0,515.0,1343.0,3569.0,1155.0,179.0,1493.0,861.0,497.0,427.0,18132.0,2020
4,NaN,832.0,433.0,65.0,6.0,28.0,118.0,181.0,52.0,321.0,1499.0,263.0,64.0,45.0,66.0,40.0,47.0,4060.0,2020
5,Absolvierende nach Beendigung der Vollzeitschu...,17449.0,23675.0,3660.0,2985.0,1416.0,2901.0,9407.0,1299.0,10566.0,26481.0,6097.0,2452.0,2600.0,1728.0,5010.0,2522.0,120248.0,2020
6,Absolvierende mit mittlerem Abschluss und ents...,50667.0,56417.0,10327.0,8311.0,2048.0,3705.0,26927.0,5731.0,36942.0,70301.0,14596.0,2571.0,15934.0,8814.0,10271.0,7890.0,331452.0,2020
7,Absolvierende mit Hochschul- und Fachhochschul...,29932.0,33632.0,13431.0,8214.0,2459.0,8780.0,19080.0,4758.0,5198.0,73302.0,14172.0,3095.0,10149.0,5301.0,10022.0,5709.0,247234.0,2020
8,NaN,389.0,0.0,0.0,19.0,0.0,0.0,149.0,0.0,0.0,23.0,0.0,0.0,0.0,0.0,0.0,0.0,580.0,2020
9,NaN,29543.0,33632.0,13431.0,8195.0,2459.0,8780.0,18931.0,4758.0,5198.0,73279.0,14172.0,3095.0,10149.0,5301.0,10022.0,5709.0,246654.0,2020

## 2021

In [25]:
preschool_2021.iloc[6:9]

,Schulstufe/Schulart,Baden-Wüttemberg,Bayern,Berlin,Brandenburg,Bremen,Hamburg,Hessen,Mecklenburg-Vorpommern,Niedersachsen,Nordrhein-Westfalen,Rheinland-Pfalz,Saarland,Sachsen,Sachsen-Anhalt,Schleswig-Holstein,Thüringen,Deutschland,Year
6,Vorschulbereich,7.750776,0,0,0,18,19.278598,12.006289,0,11.034043,8.672131,10,22.5,0,0,0,0,11.487047,2021
7,NaN,0,0,0,0,18,19.278598,0,0,0,0,0,0,0,0,0,0,19.276243,2021
8,NaN,7.750776,0,0,0,0,0,12.006289,0,11.034043,8.672131,10,22.5,0,0,0,0,9.101523,2021

In [24]:
abschluss_2021.iloc[:10]

,Schulart,Baden-Wüttemberg,Bayern,Berlin,Brandenburg,Bremen,Hamburg,Hessen,Mecklenburg-Vorpommern,Niedersachsen,Nordrhein-Westfalen,Rheinland-Pfalz,Saarland,Sachsen,Sachsen-Anhalt,Schleswig-Holstein,Thüringen,Deutschland,Year
0,Absolvierende und Abgehende der allgemeinbilde...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021
1,Insgesamt,99694.0,120017.0,30309.0,21799.0,6575.0,16060.0,55604.0,13245.0,76319.0,183599.0,37325.0,8917.0,31791.0,17436.0,26051.0,17418.0,762159.0,2021
2,Abgehende nach Beendigung der Vollzeitschulpfl...,6209.0,6154.0,2000.0,1390.0,612.0,945.0,3152.0,1075.0,4590.0,10126.0,2460.0,549.0,2793.0,1671.0,2012.0,1453.0,47191.0,2021
3,NaN,2851.0,2601.0,379.0,813.0,4.0,199.0,1325.0,470.0,1345.0,3462.0,1155.0,166.0,1555.0,798.0,465.0,424.0,18012.0,2021
4,NaN,841.0,439.0,82.0,2.0,15.0,136.0,228.0,54.0,360.0,1637.0,263.0,69.0,44.0,87.0,34.0,44.0,4335.0,2021
5,Absolvierende nach Beendigung der Vollzeitschu...,16195.0,22821.0,3572.0,3326.0,1389.0,2558.0,8994.0,1576.0,10318.0,28477.0,6097.0,2324.0,2626.0,2013.0,4580.0,2503.0,119369.0,2021
6,Absolvierende mit mittlerem Abschluss und ents...,48457.0,56201.0,11318.0,8464.0,2122.0,3570.0,27525.0,6072.0,35927.0,72501.0,14596.0,2720.0,16207.0,8745.0,9800.0,8005.0,332230.0,2021
7,Absolvierende mit Hochschul- und Fachhochschul...,28833.0,34841.0,13419.0,8619.0,2452.0,8987.0,15933.0,4522.0,25484.0,72495.0,14172.0,3324.0,10165.0,5007.0,9659.0,5457.0,263369.0,2021
8,NaN,388.0,0.0,0.0,0.0,0.0,0.0,159.0,0.0,0.0,35.0,0.0,0.0,0.0,0.0,0.0,0.0,582.0,2021
9,NaN,28445.0,34841.0,13419.0,8619.0,2452.0,8987.0,15774.0,4522.0,25484.0,72460.0,14172.0,3324.0,10165.0,5007.0,9659.0,5457.0,262787.0,2021